@import "_var";

.sec-hero {
  position: relative;
  height: 100vh;
  // @include media-1024-h {
  //   height: 90vh;
  // }
  min-height: 1024px;
  // min-height: 680px;
  @include media-768 {
    min-height: 680px;
  }
  // @include media-1024-h {
  //   min-height: 780px;
  // }
  &.narrow {
    height: 60vh;
    max-height: 680px;
    min-height: 380px;
    // max-height: 640px;
  }
  img {
    position: absolute;
  }
}

.hero-ball {
  overflow: hidden;
  position: absolute;
  top: -20%;
  left: 90%;
  // right: -10%;
  width: 24vmax;
  height: 24vmax;
  min-width: 400px;
  min-height: 400px;
  // height: 0;
  // padding-top: 36vw;
  // padding-top: 640px;
  border-radius: 50%;
  .narrow & {
    top: -30%;
  }
  @include media-1024 {
    left: 80%;
  }
  span {
    display: block;
    // transition: 1s linear;
    // content: "";
    position: absolute;
    top: -10em;
    left: -10em;
    right: -10em;
    bottom: -10em;
    z-index: 1;
    margin: auto;
    background-image: linear-gradient(
      90deg,
      #fff 5%,
      $J_red 5%,
      $J_red 50%,
      #fff 50%,
      #fff 55%,
      $J_red 55%,
      $J_red 100%
    );
    background-size: 20px;
    transform: rotate(-25deg);
  }
}
.logo {
  top: 2em;
  left: 2.5em;
  top: 1.375vmax;
  left: 2vmax;
  z-index: 10000;
  height: 3vw;
  // min-height: 50px;
  min-height: 60px;
  background-color: #fff;
  @include media-1024 {
    top: 1.5em;
    left: 1.5em;
    // height: 40px;
  }
  @include media-568 {
    top: 1.25em;
    left: 1.25em;
    height: 2.4vw;
    // min-height: 40px;
    min-height: 50px;
  }
}
.tagline {
  // top: 7vh;
  // top: 7vmax;
  top: 10vh;
  left: 0;
  right: 0;
  z-index: 100;
  width: 38vw;
  // width: 880px;
  min-width: 700px;
  .narrow & {
    top: 4vh;
    width: 25vw;
    min-width: 500px;
  }

  // @include media-1024-h-768-w {
  //   top: 15vh;
  // }
  @include media-1024-h {
    top: 5vh;
    width: 28vw;
  }
  @include media-1024 {
    width: 75vw;
    min-width: 0;
    max-width: 580px;
    .narrow & {
      top: 8vh;
      min-width: 360px;
    }
  }
  @include media-768 {
    max-width: 500px;
    .narrow & {
      top: 10vh;
      min-width: 300px;
    }
  }
  @include media-568 {
    top: 13vh;
    .narrow & {
      top: 10vh;
      width: 64vw;
      min-width: 0;
    }
  }
  // @include media-1024-h {
  //   max-width: 600px;
  // }
}
.l2_l {
  right: 40%;
  bottom: -2em;
  z-index: 1;
  // width: 1160px;
  width: 62vw;
  min-width: 1160px;
  // width: 58%;
  .narrow & {
    right: 36%;
    bottom: -14vmin;
  }
  @include media-1024 {
    .narrow & {
      // top: 5em;
      bottom: -20vmin;
    }
  }
  @include media-768 {
    .narrow & {
      min-width: 820px;
      right: 32%;
      bottom: -15vmin;
    }
  }
  @include media-568 {
    .narrow & {
      right: 25%;
      bottom: -36vmin;
    }
  }
  @include media-568-h {
    .narrow & {
      bottom: -52vmin;
    }
  }
}
.l2_r {
  left: 61%;
  bottom: 0;
  z-index: 2;
  // width: 770px;
  // width: 40%;
  width: 44vw;
  min-width: 770px;
  // width: 58%;
  .narrow & {
    left: 65%;
    bottom: -6vmin;
  }
  @include media-1024 {
    .narrow & {
      left: 66%;
      bottom: -10vmin;
    }
  }
  @include media-768 {
    .narrow & {
      left: 70%;
      bottom: -20vmin;
    }
  }
  @include media-568 {
    // min-width: 600px;
    .narrow & {
      left: 78%;
      bottom: -56vmin;
    }
  }
  @include media-568-h {
    .narrow & {
      bottom: -64vmin;
    }
  }
}
.l1_l {
  // left: 0;
  right: 60%;
  bottom: 0;
  z-index: 3;
  width: 47vw;
  min-width: 900px;
  // width: 40%;
}
.l1_r1 {
  left: 55%;
  // right: 14%;
  bottom: 0;
  z-index: 4;
  // width: 620px;
  width: 34vw;
  min-width: 620px;
  // display: none;
  // width: 30%;
  @include media-1024 {
    .narrow & {
      // left: 64%;
      // width: 34vw;
      // min-width: 0;
      left: 70%;
      width: 54vw;
      min-width: 580px;
    }
  }
  @include media-568 {
    .narrow & {
      display: none;
    }
  }
}
.l1_r2 {
  left: 82%;
  // right: 0;
  bottom: 0;
  z-index: 5;
  // width: 350px;
  width: 19vw;
  min-width: 350px;
  // width: 20%;
  @include media-1024 {
    .narrow & {
      left: 84%;
      width: 25vw;
      min-width: 0;
      display: none;
    }
  }
  @include media-768 {
    // .narrow & {
    //   display: none;
    // }
  }
  @include media-568 {
    // .narrow & {
    //   display: none;
    // }
  }
}
.l2_rt {
  left: 70%;
  // right: 10vw;
  bottom: 33vh;
  // z-index: 6;
  z-index: 1;
  width: 26vw;
  min-width: 440px;
  .narrow & {
    // right: 36%;
    // z-index: 1;
    left: 74%;
    top: 2vmax;
    bottom: auto;
    // bottom: 27vmin;
    width: 20vw;
    min-width: 380px;
  }
  @include media-1024-h {
    // bottom: 50vh;
  }
  @include media-1024 {
    .narrow & {
      // width: 20vw;
      min-width: 240px;
    }
  }
  @include media-768 {
    .narrow & {
      top: 7vmax;
      left: 84%;
    }
  }
}
.l2_lt {
  // top: 20%;
  // top: 15vmax;
  top: 20vh;
  // left: 5vw;
  right: 70%;
  z-index: 7;
  // width: 550px;
  width: 22vw;
  min-width: 400px;
  @include media-568 {
    width: 50vw;
    min-width: 0;
  }
}
.l2_lt_dot {
  // top: 12%;
  // top: 12vmax;
  top: 13vh;
  // left: 5vw;
  right: 86vw;
  z-index: 6;
  width: 10vw;
  min-width: 180px;
  @include media-568 {
    top: 15vh;
    width: 20vw;
    min-width: 0;
  }
}
.float_goldfish {
  top: 5vh;
  left: 70vw;
  width: 12vw;
  min-width: 220px;
  z-index: 99;
  .narrow & {
    width: 7vw;
    min-width: 140px;
  }
  @include media-1024 {
    top: 3vh;
    left: 68vw;
    width: 22vw;
    min-width: 0;
    .narrow & {
      width: 6vw;
      min-width: 100px;
    }
  }
  // @include media-568 {
  //   .narrow & {
  //     width: 22vw;
  //     min-width: 0;
  //   }
  // }
}
.float_tako {
  top: 42vh;
  left: 91vw;
  width: 8vw;
  min-width: 160px;
  z-index: 99;
  @include media-1024 {
    // left: 66vw;
    width: 18vw;
    min-width: 0;
  }
}
.float_cloth {
  top: 36vh;
  right: 84vw;
  width: 15vw;
  min-width: 280px;
  z-index: 1;
  @include media-1024 {
    // display: none;
    top: 34vh;
    right: 72vw;
    z-index: 999;
    width: 40vw;
    min-width: 0;
    // width: 18vw;
    // min-width: 0;
  }
}
.model-wrap {
  position: absolute;
  margin: auto;
  top: 0;
  left: -50vw;
  right: -50vw;
  bottom: 0;
  margin: auto;
  .narrow & {
    bottom: -10em;
  }
  @include media-568 {
    .narrow & {
      bottom: -9em;
    }
  }
  @include media-568-h {
    .narrow & {
      bottom: -12em;
    }
  }
}
.model {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  user-select: none;
  pointer-events: none;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.model-1 {
  // left: 4vw;
  // right: 2vw;
  z-index: 103;
  // margin-left: 3vw;
  // width: 560px;
  // width: 100%;
  width: 30vw;
  // width: 50%;
  // min-width: 50vmax;
  // max-width: 560px;
  min-width: 680px;
  bottom: -7vmax;
  // height: auto;
  // height: 100%;
  // min-height: 360px;
  // height: 500px;
  // background-color: lime;
  // opacity: 0.5;
  // background-image: url("model_1.png");
  // background-size: 30vw auto;
  @include media-1024 {
    // width: 100%;
    bottom: -2vmax;
    width: 44vmax;
    min-width: 0;
    // max-width: 360px;
    // max-width: 100vw;
  }
  @include media-568 {
    // min-width: 568px;
    left: 4vw;
    // right: 0;
    // background-size: 360px auto;
    // width: auto;
    // min-width: 60vmin;
    // min-width: 560px;
    // max-width: 70vmin;
  }
}
.model-2 {
  // left: 18%;
  // right: auto;

  // margin-right: 60vw;
  margin-right: 109vw;
  z-index: 102;
  // width: 380px;
  width: 24vw;
  min-width: 560px;

  // height: 340px;
  // height: auto;
  // background-color: rebeccapurple;
  // opacity: 0.5;
  // background-image: url("model_2.png");
  // background-size: 460px auto;
  @include media-1024 {
    margin-right: 98vw;
    bottom: -10vmax;
    // width: 240px;
    width: 38vmax;
    min-width: 0;
    // max-width: 100vw;
  }
  @include media-568 {
    // top: 10vh;
    bottom: -3vmax;
    margin-right: 92vw;
    // background-size: 260px auto;
  }
}
.model-3 {
  // right: 25%;
  bottom: -1vmax;
  z-index: 101;
  margin-left: 115vw;
  // width: 200px;
  // width: 100%;
  width: 15vw;
  min-width: 340px;
  // height: 270px;
  // height: 100%;
  // background-color: royalblue;
  // opacity: 0.5;
  // background-image: url("model_3.png");
  // background-size: 280px auto;
  @include media-1024 {
    bottom: -13vmax;
    // margin-left: 120vw;
    margin-left: 110vw;
    width: 24vmax;
    min-width: 0;
  }
  @include media-768 {
  }
  @include media-568 {
    bottom: -10vmax;
    margin-left: 113vw;
    // top: 10vh;
    // margin-left: 48vw;
    // background-size: 140px auto;
  }
}
.scroll-down {
  // @include pos-ab;
  position: absolute;
  top: auto;
  // top: 0;
  left: 0;
  right: 0;
  // bottom: 0;
  bottom: 2rem;
  margin: auto;
  z-index: 100;
  width: 5.625rem;
  height: 5.625rem;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 5.625rem;
  line-height: 5.25rem;
  // border: 4px solid $J_red;
  border-radius: 50%;
  box-shadow: 0 0 0 4px $J_red;
  &:before {
    content: "";
    position: absolute;
    top: auto;
    // top: 0;
    left: 0;
    right: 0;
    // @include pos-ab;
    bottom: 1.5rem;
    margin: auto;
    width: 0.5em;
    height: 0.5em;
    border-top: 4px solid $J_red;
    border-left: 4px solid $J_red;
    transform: rotate(-135deg);
  }
}
