.sec-hero {
  position: relative;
  height: 100vh;
  min-height: 1024px;
}

@media only screen and (max-width: 768px) {
  .sec-hero {
    min-height: 680px;
  }
}

.sec-hero.narrow {
  height: 60vh;
  max-height: 680px;
  min-height: 380px;
}

.sec-hero img {
  position: absolute;
}

.hero-ball {
  overflow: hidden;
  position: absolute;
  top: -20%;
  left: 90%;
  width: 24vmax;
  height: 24vmax;
  min-width: 400px;
  min-height: 400px;
  border-radius: 50%;
}

.narrow .hero-ball {
  top: -30%;
}

@media only screen and (max-width: 1024px) {
  .hero-ball {
    left: 80%;
  }
}

.hero-ball span {
  display: block;
  position: absolute;
  top: -10em;
  left: -10em;
  right: -10em;
  bottom: -10em;
  z-index: 1;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #fff), color-stop(5%, #e93323), color-stop(50%, #e93323), color-stop(50%, #fff), color-stop(55%, #fff), color-stop(55%, #e93323), to(#e93323));
  background-image: linear-gradient(90deg, #fff 5%, #e93323 5%, #e93323 50%, #fff 50%, #fff 55%, #e93323 55%, #e93323 100%);
  background-size: 20px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.logo {
  top: 2em;
  left: 2.5em;
  top: 1.375vmax;
  left: 2vmax;
  z-index: 10000;
  height: 3vw;
  min-height: 60px;
  background-color: #fff;
}

@media only screen and (max-width: 1024px) {
  .logo {
    top: 1.5em;
    left: 1.5em;
  }
}

@media only screen and (max-width: 568px) {
  .logo {
    top: 1.25em;
    left: 1.25em;
    height: 2.4vw;
    min-height: 50px;
  }
}

.tagline {
  top: 10vh;
  left: 0;
  right: 0;
  z-index: 100;
  width: 38vw;
  min-width: 700px;
}

.narrow .tagline {
  top: 4vh;
  width: 25vw;
  min-width: 500px;
}

@media only screen and (max-height: 1024px) {
  .tagline {
    top: 5vh;
    width: 28vw;
  }
}

@media only screen and (max-width: 1024px) {
  .tagline {
    width: 75vw;
    min-width: 0;
    max-width: 700px;
  }
  .narrow .tagline {
    top: 8vh;
    min-width: 360px;
  }
}

@media only screen and (max-width: 768px) {
  .tagline {
    max-width: 500px;
  }
  .narrow .tagline {
    top: 10vh;
    min-width: 300px;
  }
}

@media only screen and (max-width: 568px) {
  .tagline {
    top: 13vh;
  }
  .narrow .tagline {
    top: 10vh;
    width: 64vw;
    min-width: 0;
  }
}

.l2_l {
  right: 40%;
  bottom: -2em;
  z-index: 1;
  width: 62vw;
  min-width: 1160px;
}

.narrow .l2_l {
  right: 36%;
  bottom: -14vmin;
}

@media only screen and (max-width: 1024px) {
  .narrow .l2_l {
    bottom: -20vmin;
  }
}

@media only screen and (max-width: 768px) {
  .narrow .l2_l {
    min-width: 820px;
    right: 32%;
    bottom: -15vmin;
  }
}

@media only screen and (max-width: 568px) {
  .narrow .l2_l {
    right: 25%;
    bottom: -36vmin;
  }
}

@media only screen and (max-height: 568px) and (max-width: 768px) {
  .narrow .l2_l {
    bottom: -52vmin;
  }
}

.l2_r {
  left: 61%;
  bottom: 0;
  z-index: 2;
  width: 44vw;
  min-width: 770px;
}

.narrow .l2_r {
  left: 65%;
  bottom: -6vmin;
}

@media only screen and (max-width: 1024px) {
  .narrow .l2_r {
    left: 66%;
    bottom: -10vmin;
  }
}

@media only screen and (max-width: 768px) {
  .narrow .l2_r {
    left: 70%;
    bottom: -20vmin;
  }
}

@media only screen and (max-width: 568px) {
  .narrow .l2_r {
    left: 78%;
    bottom: -56vmin;
  }
}

@media only screen and (max-height: 568px) and (max-width: 768px) {
  .narrow .l2_r {
    bottom: -64vmin;
  }
}

.l1_l {
  right: 60%;
  bottom: 0;
  z-index: 3;
  width: 47vw;
  min-width: 900px;
}

.l1_r1 {
  left: 55%;
  bottom: 0;
  z-index: 4;
  width: 34vw;
  min-width: 620px;
}

@media only screen and (max-width: 1024px) {
  .narrow .l1_r1 {
    left: 70%;
    width: 54vw;
    min-width: 580px;
  }
}

@media only screen and (max-width: 568px) {
  .narrow .l1_r1 {
    display: none;
  }
}

.l1_r2 {
  left: 82%;
  bottom: 0;
  z-index: 5;
  width: 19vw;
  min-width: 350px;
}

@media only screen and (max-width: 1024px) {
  .narrow .l1_r2 {
    left: 84%;
    width: 25vw;
    min-width: 0;
    display: none;
  }
}

.l2_rt {
  left: 70%;
  bottom: 33vh;
  z-index: 1;
  width: 26vw;
  min-width: 440px;
}

.narrow .l2_rt {
  left: 74%;
  top: 2vmax;
  bottom: auto;
  width: 20vw;
  min-width: 380px;
}

@media only screen and (max-width: 1024px) {
  .narrow .l2_rt {
    min-width: 240px;
  }
}

@media only screen and (max-width: 768px) {
  .narrow .l2_rt {
    top: 7vmax;
    left: 84%;
  }
}

.l2_lt {
  top: 20vh;
  right: 70%;
  z-index: 7;
  width: 22vw;
  min-width: 400px;
}

@media only screen and (max-width: 568px) {
  .l2_lt {
    width: 50vw;
    min-width: 0;
  }
}

.l2_lt_dot {
  top: 13vh;
  right: 86vw;
  z-index: 6;
  width: 10vw;
  min-width: 180px;
}

@media only screen and (max-width: 568px) {
  .l2_lt_dot {
    top: 15vh;
    width: 20vw;
    min-width: 0;
  }
}

.float_goldfish {
  top: 5vh;
  left: 70vw;
  width: 12vw;
  min-width: 220px;
  z-index: 99;
}

.narrow .float_goldfish {
  width: 7vw;
  min-width: 140px;
}

@media only screen and (max-width: 1024px) {
  .float_goldfish {
    top: 3vh;
    left: 68vw;
    width: 22vw;
    min-width: 0;
  }
  .narrow .float_goldfish {
    width: 6vw;
    min-width: 100px;
  }
}

.float_tako {
  top: 42vh;
  left: 91vw;
  width: 8vw;
  min-width: 160px;
  z-index: 99;
}

@media only screen and (max-width: 1024px) {
  .float_tako {
    width: 18vw;
    min-width: 0;
  }
}

.float_cloth {
  top: 36vh;
  right: 84vw;
  width: 15vw;
  min-width: 280px;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .float_cloth {
    top: 34vh;
    right: 72vw;
    z-index: 999;
    width: 40vw;
    min-width: 0;
  }
}

.model-wrap {
  position: absolute;
  margin: auto;
  top: 0;
  left: -50vw;
  right: -50vw;
  bottom: 0;
  margin: auto;
}

.narrow .model-wrap {
  bottom: -10em;
}

@media only screen and (max-width: 568px) {
  .narrow .model-wrap {
    bottom: -9em;
  }
}

@media only screen and (max-height: 568px) and (max-width: 768px) {
  .narrow .model-wrap {
    bottom: -12em;
  }
}

.model {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.model-1 {
  z-index: 103;
  width: 30vw;
  min-width: 560px;
  bottom: -7vmax;
}

@media only screen and (max-width: 1024px) {
  .model-1 {
    bottom: -2vmax;
    width: 44vmax;
    min-width: 0;
  }
}

@media only screen and (max-width: 568px) {
  .model-1 {
    left: 4vw;
  }
}

.model-2 {
  margin-right: 109vw;
  z-index: 102;
  width: 24vw;
  min-width: 400px;
}

@media only screen and (max-width: 1024px) {
  .model-2 {
    margin-right: 98vw;
    bottom: -10vmax;
    width: 38vmax;
    min-width: 0;
  }
}

@media only screen and (max-width: 568px) {
  .model-2 {
    bottom: -3vmax;
    margin-right: 92vw;
  }
}

.model-3 {
  bottom: -1vmax;
  z-index: 101;
  margin-left: 115vw;
  width: 15vw;
  min-width: 240px;
}

@media only screen and (max-width: 1024px) {
  .model-3 {
    bottom: -13vmax;
    margin-left: 110vw;
    width: 24vmax;
    min-width: 0;
  }
}

@media only screen and (max-width: 568px) {
  .model-3 {
    bottom: -10vmax;
    margin-left: 113vw;
  }
}

.scroll-down {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 2rem;
  margin: auto;
  z-index: 100;
  width: 5.625rem;
  height: 5.625rem;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 5.625rem;
  line-height: 5.25rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #e93323;
          box-shadow: 0 0 0 4px #e93323;
}

.scroll-down:before {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  margin: auto;
  width: 0.5em;
  height: 0.5em;
  border-top: 4px solid #e93323;
  border-left: 4px solid #e93323;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
