@import "_var";

.sec-message {
  position: relative;
  padding-bottom: 5vw;
  background-image: linear-gradient($J_grey_light 1px, transparent 1px),
    linear-gradient(90deg, $J_grey_light 1px, transparent 1px);
  background-size: 2em 2em;
  &:before {
    @include pos-ab;
    // left: auto;
    // bottom: auto;
    z-index: -1;
    // width: 100%;
    // max-width: 800px;
    // max-height: 680px;
    // background-size: contain;
    background-size: 800px 680px;
    background-image: url("bg_otera.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    @include media-1024 {
      // opacity: 0.5;
      background-size: contain;
    }
  }
  &.detail:before {
    // max-width: 1100px;
    // max-height: 820px;
    background-size: 1100px auto;
    @include media-1024 {
      background-size: contain;
    }
  }
}

.message-wrap {
  align-items: flex-start;
  @include media-1024 {
    flex-direction: column;
  }
}

.message-text {
  max-width: 30%;
  margin-top: 2em;
  margin-bottom: -2em;
  padding-right: 3vw;
  @include media-1024 {
    max-width: none;
    margin-top: 0;
  }
}
.event-detail-wrap {
  align-items: flex-start;
  padding-bottom: 6vw;
  @include media-1023 {
    flex-direction: column;
  }
}
.event-detail {
  width: 50%;
  max-width: 500px;
  padding-right: 4vw;
  @include media-1023 {
    width: 100%;
    max-width: none;
    padding-right: 0;
  }
  h3 {
    margin-bottom: 4rem;
  }
  p {
    font-size: 1.5em;
    line-height: 1.5;
    & + p {
      margin-top: 3vmax;
    }
    a {
      font-family: sans-serif;
      color: $J_red;
      font-weight: normal;
      text-transform: lowercase;
      text-decoration: underline;
    }
  }
  span {
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1;
  }
  .price {
    margin-bottom: 1em;
    font-size: 1.25rem;
    font-weight: bold;
  }
  small {
    display: block;
    margin-top: 0.25em;
    font-size: 1rem;
  }
  @include media-1023 {
    & ~ .event-detail h3 {
      margin-top: 12vmax;
    }
  }
}

.message-board {
  position: relative;
}
.rope-front,
.rope-back {
  position: absolute;
  top: -3vw;
  left: 0;
  right: 0;
  width: 280px;
  margin: auto;
}
.rope-front {
  z-index: 100;
  &.mobile {
    display: none;
  }
  @include media-1024 {
    display: none;
    &.mobile {
      display: block;
    }
  }
}
.rope-back {
  z-index: 1;
}

.board-wood {
  margin-top: 15.5em;
}
.board-top {
  position: relative;
  .inner-rect {
    position: relative;
    z-index: 2;
    width: 50%;
    background-color: white;
    height: 12vw;
    border: $border-width solid #000;
    &.left {
      transform: skewY(-10deg);
      border-radius: 20px 0 0 0;
      border-right: none;
    }
    &.right {
      transform: skewY(10deg);
      border-radius: 0 20px 0 0;
      border-left: none;
    }
    @include media-min-1441 {
      height: 12rem;
    }
    @include media-1024 {
      margin-top: 1.5em;
      height: 20vw;
    }
    @include media-568 {
      height: 30vw;
      border-width: $border-width-mobile;
    }
  }
}

.message-con {
  position: relative;
  z-index: 10;
  margin-top: -6vw;
  padding: 3vw;
  text-align: center;
  border: $border-width solid #000;
  border-top: none;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  @include media-min-1441 {
    margin-top: -7rem;
  }
  @include media-1024 {
    margin-top: -12vw;
    margin-bottom: 6vmax;
  }
  @include media-568 {
    margin-top: -15vw;
    border-width: $border-width-mobile;
  }
  li {
    // overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 0.5em 2em;
    // margin-bottom: 2em;
    padding: 0 0.5em;
    font-family: sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1em;
    // border: 1px solid lime;
    padding-left: 3em;
    &:nth-child(2n) {
      .profile {
        background-color: $J-grey-light;
      }
    }
    &:nth-child(3n) {
      .profile {
        background-color: $J-blue;
      }
    }
  }
  .profile {
    display: block;
    @include pos-ab;
    right: auto;
    margin-left: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5em;
    line-height: 2.5rem;
    background-color: $J-red;
    border-radius: 50%;
    color: #fff;
  }
  .text {
    display: block;
    padding: 0.5em 0.5em 0.5em 0;
    line-height: 1.5;
  }
}

.btn-join {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 180px;
  height: 180px;
  margin-top: 4em;
  margin-left: -1em;
  // text-align: center;
  border: 4px solid #fff;
  border-radius: 50%;
  &:before {
    transition: 1s linear;
    content: "";
    position: absolute;
    top: -10em;
    left: -10em;
    right: -10em;
    bottom: -10em;
    z-index: 1;
    margin: auto;
    background-image: linear-gradient(
      90deg,
      #fff 5%,
      $J_red 5%,
      $J_red 50%,
      #fff 50%,
      #fff 55%,
      $J_red 55%,
      $J_red 100%
    );
    background-size: 10px;
    transform: rotate(25deg);
  }
  .btn-text {
    display: block;
    position: relative;
    z-index: 10;
    width: 100px;
    margin: auto;
    font-size: 2.75em;
    line-height: 0.9;
    // text-align: left;
    color: #fff;
  }
  .event-detail-wrap & {
    width: 340px;
    height: 340px;
    margin-top: auto;
    margin-left: auto;
    &::before {
      background-image: linear-gradient(
        90deg,
        #fff 3%,
        $J_red 3%,
        $J_red 50%,
        #fff 50%,
        #fff 53%,
        $J_red 53%,
        $J_red 100%
      );
      background-size: 20px;
      transform: rotate(-60deg);
    }
    .btn-text {
      width: 210px;
      font-size: 6em;
    }
    @include media-1023 {
      margin-top: 6vmax;
      margin-left: 0;
      width: 180px;
      height: 180px;
      &::before {
        background-size: 10px;
      }
      .btn-text {
        width: 100px;
        font-size: 2.75em;
        line-height: 0.9;
      }
    }
  }
}

.message-con,
.board-top .inner-rect.right {
  box-shadow: $bs-x $bs-y #000;
  @include media-1024 {
    box-shadow: $bs-x-1024 $bs-y-1024 #000;
  }
}
