.clearfix {
  &:after {
    /* clearfix */
    content: " ";
    visibility: hidden;
    height: 0;
    display: table;
    clear: both;
  }
}

/* =============================================================================
   RAISE CART
   ========================================================================== */

.cart-wrap {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 6em;
}
.infoForPrintingOnly {
  display: none;
}
.cartHead {
  font-size: 1.25em;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.cart-title {
  text-align: center;
  margin-bottom: 0.25rem;
}
.cart-info {
  text-align: center;
}
body.dark .cart-info {
  color: hsl(97, 3%, 70%);
}
.cart-main {
  background-color: hsl(97, 3%, 92%);
}
body.dark .cart-main {
  background-color: hsl(97, 3%, 10%);
}
.cart-main + .btnCon {
  margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
  .cartHead {
    font-size: 1.125em;
  }
}
@media screen and (max-width: 767px) {
  .cart-wrap {
    margin-bottom: 3em;
  }
  .cart-wrap .maxWrapper {
    max-width: 100%;
    padding: 0 1rem;
  }
  .cartHead {
    padding-top: 1.5rem;
    font-size: 1em;
  }
  .cart-title {
    margin-bottom: 0.25rem;
  }
}
@media screen and (max-width: 640px) {
  .cart-wrap .maxWrapper {
    padding: 0;
  }
  .cartHead {
    padding: 1rem 0;
    background-color: hsl(97, 3%, 20%);
  }
  .cart-title {
    margin-bottom: 0.125rem;
    color: hsl(97, 3%, 95%);
    font-size: 1rem;
  }
  .cart-info {
    font-size: 0.75rem;
    color: hsl(97, 3%, 70%);
  }
}
@media screen and (max-width: 479px) {
  .cart-wrap {
    margin-bottom: 1.5em;
  }
}

/*    .cart-header    */

.cart-header {
  padding: 0 1.5em;
  background-color: hsl(97, 3%, 30%);
}
.cart-header {
  @extend .clearfix;
}
body.dark .cart-header {
  background-color: hsl(97, 3%, 20%);
}
.cart-header li {
  float: left;
  font-size: 0.875em;
  line-height: 1.875rem;
  color: hsl(97, 3%, 95%);
}
.cart-header .rc-host {
  width: 16rem;
}
.cart-header .rc-value {
  float: right;
  width: 6rem;
  margin-left: 0.75rem;
}
.cart-header .rc-comment {
  float: right;
  width: 14rem;
}
.raiseEdit .cart-header .rc-host {
  width: 13.75rem;
}
.raiseEdit .cart-header .rc-comment {
  float: left;
}
.shopCart .cart-header .rc-price {
  width: 9.25rem;
  float: right;
}
.shopCart .cart-header .rc-quantity {
  width: 8.375rem;
  float: right;
}
.shopCheckout.shopCart .cart-header .rc-host {
  width: auto;
}
.shopCheckout.shopCart .cart-header .rc-quantity {
  float: right;
  text-align: right;
  width: 2rem;
}
.shopCheckout.shopCart .cart-header .rc-price {
  width: 9rem;
  float: right;
}

@media screen and (max-width: 1023px) {
  .cart-header {
    padding: 0 1em;
  }
}
@media screen and (max-width: 767px) {
  .cart-header .rc-host {
    width: 12rem;
  }
  .raiseEdit .cart-header .rc-host {
    width: 12.75rem;
  }
}
@media screen and (max-width: 640px) {
  .cart-header {
    display: none;
  }
}

/* =============================================================================
   RAISE CART MODULE
   ========================================================================== */

.cartModule-wrap {
  padding: 1.5em;
}

@media screen and (max-width: 1023px) {
  .cartModule-wrap {
    padding: 1em;
  }
}

/*    .cartModule    */

.cartModule {
  body.dark & {
    border-color: hsl(97, 3%, 20%);
  }
  & ~ .cartModule {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid hsl(97, 3%, 80%);
  }
  .media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    // outline: 1px solid orange;
    .imgBox {
      width: 4em;
      height: 4em;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .textBox {
      // border: 1px solid lime;
      padding-left: 1em;
      min-width: 14em;
      h4 {
        font-size: 1em;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 0.125em;
      }
    }
  }
  @media screen and (max-width: 767px) {
    & ~ .cartModule {
      margin-top: 1em;
      padding-top: 1em;
    }
    .media {
      .imgBox {
        width: 3em;
        height: 3em;
      }
    }
  }
  @media screen and (max-width: 640px) {
    .media {
      .textBox {
        min-width: 0;
      }
    }
  }
}

body.dark .cartModule .media .textBox h5 {
  color: hsl(97, 3%, 70%);
}
.cartModule.monthly .monthly,
.cartModule.yearly .monthly,
body.dark .cartModule.monthly .monthly,
body.dark .cartModule.yearly .yearly {
  color: #bea22f;
}
.cartModule .onetime,
.cartModule .monthly,
.cartModule .yearly {
  display: none;
  line-height: 1.25rem;
}
.cartModule .onetime:before,
.cartModule .monthly:before,
.cartModule .yearly:before {
  content: "（";
}
.cartModule .onetime:after,
.cartModule .monthly:after,
.cartModule .yearly:after {
  content: "）";
}
.cartModule.onetime .onetime,
.cartModule.monthly .monthly,
.cartModule.yearly .yearly {
  display: inline;
}

/*    .cart-fieldset    */

.onetime {
  .cart-fieldset {
  }
}
.cart-fieldset {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  @media screen and (max-width: 374px) {
    margin-top: 1em;
    padding-left: 1em;
    min-width: 80%;
    & + button.cart-remove {
      margin-top: 1em;
    }
  }
  // @media screen and (max-width: 640px) {
  // margin-top: 1em;
  // padding-left: 1em;
  // min-width: 80%;
  // .cart-comment {
  //   min-width: 70vw;
  // }
  // & + button.cart-remove {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 3rem;
  //   height: 3rem;
  //   margin-right: -1em;
  // }
  // }
  // outline: 1px solid lime;
  > div h6 {
    margin-top: 0.5em;
  }
  h6.caption {
    display: none;
  }
  .cart-value {
    // outline: 1px solid blue;
    flex: 1;
    position: relative;
    max-width: 6em;
    &:before {
      content: "$";
      position: absolute;
      right: 100%;
      margin-right: 0.375em;
      font-size: 1em;
      line-height: 2.75;
      color: hsl(97, 3%, 70%);
    }
  }
  .cart-comment {
    flex: 1;
    margin-left: 1em;
  }
  input {
    width: 100%;
    font-size: 0.875em;
    font-size: 1em;
    line-height: 1;
    padding: 0.75em 0.75em;
    background-color: hsl(97, 3%, 95%);
    body.dark & {
      box-shadow: inset 0 0 0 1px hsl(34, 3%, 20%);
      background-color: hsl(97, 3%, 20%);
      color: hsl(97, 3%, 95%);
    }
    &:focus {
      background-color: #fff;
      body.dark & {
        box-shadow: inset 0 0 0 1px #bea22f;
        background-color: hsl(97, 3%, 10%);
      }
    }
  }
  .fail {
    input {
      box-shadow: inset 0 0 0 2px hsl(5, 65%, 65%);
    }
    h6.caption {
      display: block;
      color: hsl(5, 65%, 65%);
    }
  }
}

button.cart-remove {
  width: 32px;
  height: 32px;
  margin: 0;
  margin-left: 8px;
  margin-right: -8px;
  padding: 0;
  line-height: 32px;
  text-align: center;
  box-shadow: none;
  body.dark & {
    box-shadow: none;
    color: hsl(97, 3%, 95%);
  }
}

/*    .cartModule.batch    */

.cartModule.batch {
  margin: -1.5rem -1.5rem auto;
  padding: 1em 0;
  background-color: hsl(97, 3%, 85%);
  border-bottom: 1px solid hsl(97, 3%, 80%);
  body.dark & {
    background-color: hsl(97, 3%, 10%);
    border-color: hsl(97, 3%, 20%);
  }
  .raise-setAll-show ~ h5,
  .raise-setAll-show ~ .cart-fieldset,
  .raise-setAll-show.showBatchEdit {
    display: none;
  }
  .raise-setAll-show.showBatchEdit ~ h5,
  .raise-setAll-show.showBatchEdit ~ .cart-fieldset {
    display: block;
  }
  .media {
    padding: 0 1.5rem;
    min-height: 0;
    h5 {
      font-weight: bold;
      color: hsl(97, 3%, 50%);
      body.dark & {
        color: hsl(97, 3%, 70%);
      }
    }
    .raise-setAll-hide {
      margin-top: 0.75rem;
    }
    .cart-fieldset {
      position: relative;
      left: auto;
      right: 0;
      width: auto;
      padding: 0;
      margin: auto;
      // margin: 0.5em auto 0;

      > div button {
        margin-top: 0.75em;
        position: static;
      }
      // .cart-value {
      //   margin-left: 1.5em;
      // }
    }
  }
}

.cartModule.batch + .cartModule {
  margin-top: auto;
  border: none;
}

@media screen and (max-width: 1023px) {
  .cartModule.batch {
    margin: -1em -1em auto;
  }
  .cartModule.batch .media {
    padding: 0 1em;
  }
}
// @media screen and (max-width: 767px) {
//   .cartModule.batch .media .cart-fieldset {
//     padding: 0 1em 0 0;
//   }
// }
@media screen and (max-width: 640px) {
  /*    .cartModule.batch    */
  .cartModule.batch .cart-raiseType {
    height: auto;
  }
  .cartModule.batch .media .cart-fieldset {
    padding-left: 0;
  }
}
@media screen and (min-width: 480px) {
  .cartModule.batch .cart-fieldset .cart-value {
    margin-left: 4.75em;
  }
}
@media screen and (max-width: 479px) {
  /*    .cartModule.batch    */
  .cartModule.batch .media .cart-fieldset {
    width: 100%;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .cartModule.batch .media .raise-setAll-hide {
    margin-top: 1em;
  }
  .cartModule.batch .media .cart-fieldset > div ~ div {
    margin-top: 1em;
  }
  .cartModule.batch .media .cart-fieldset > div button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 4rem;
  }
  .cartModule.batch .cart-comment,
  .cartModule.batch .cart-raiseType,
  .cartModule.batch .cart-value {
    clear: both;
    width: 100%;
    margin-left: 0;
    // padding-right: 4.75em;
  }
  .cartModule.batch .cart-fieldset .cart-comment {
    margin-left: 1em;
  }
  .cartModule.batch .cart-fieldset .cart-value {
    padding-left: 1em;
    position: relative;
    // left: 0;
    // bottom: 0;
    margin-left: auto;
  }
  .cartModule.batch .cart-fieldset .cart-value:before {
    margin-right: -0.75em;
  }
}

/*    .switch-text    */

.switch-text {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  margin: auto;
  line-height: 32px;
  font-size: 0.875em;
  color: #bea22f;
  width: 50%;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  color: hsl(97, 3%, 95%);
}
.switch-text.right {
  color: hsl(97, 3%, 30%);
  right: 0;
  left: auto;
}
body.dark .switch-text.right {
  color: hsl(97, 3%, 95%);
}
body.dark .sub-switch .switch-text,
.sub-switch .switch-text {
  line-height: 24px;
  font-size: 0.875em;
  color: hsl(97, 3%, 95%);
}

/*    .pt-switch    */

.pt-switch {
  position: relative;
  font-size: 0.875em;
  width: 100px;
  & ~ .pt-switch {
    margin-top: 0.75em;
  }
  input {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    & + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      width: 100%;
      height: 32px;
      padding: 2px;
      border-radius: 3px;
      background-color: hsl(97, 3%, 95%);
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
      body.dark & {
        background-color: hsl(97, 3%, 20%);
      }
      &:after {
        display: block;
        content: " ";
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        z-index: 10;
        width: 48px;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.2),
          0 0.25em 0.5em rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.pt-switch input + label ~ .left,
.pt-switch input:checked + label ~ .right {
  transform: scale(0.75) translateZ(0);
}
.pt-switch input + label ~ .right,
.pt-switch input:checked + label ~ .left {
  transform: scale(1) translateZ(0);
}
.pt-switch.sub-switch input + label ~ .left,
.pt-switch.sub-switch input:checked + label ~ .right,
.pt-switch.sub-switch input + label ~ .right,
.pt-switch.sub-switch input:checked + label ~ .left {
  transform: none;
}
.pt-switch > .sub-switch {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  margin-top: 0.5em;
  transform: scale(0.75) translateZ(0);
}
.pt-switch input:checked ~ .pt-switch.sub-switch {
  position: static;
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) translateZ(0);
}
body.dark .pt-switch input:checked + label,
.pt-switch input:checked + label {
  background-color: #bea22f;
}
.pt-switch input:checked + label:after {
  margin-left: 50%;
}
.pt-switch input:checked + label ~ .right {
  color: #bea22f;
}
body.dark .pt-switch.sub-switch input + label,
.pt-switch.sub-switch input + label {
  height: 24px;
  box-shadow: none;
  background-color: transparent;
}
.pt-switch.sub-switch input + label:after {
  z-index: 1;
  width: 48px;
  background-color: hsl(97, 3%, 30%);
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
body.dark .pt-switch.sub-switch input:checked + label,
.pt-switch.sub-switch input:checked + label {
  background-color: transparent;
}
.pt-switch.sub-switch input + label ~ .right,
.pt-switch.sub-switch input:checked + label ~ .left {
  color: hsl(97, 3%, 30%);
}
body.dark .pt-switch.sub-switch input + label ~ .right,
body.dark .pt-switch.sub-switch input:checked + label ~ .left {
  color: hsl(97, 3%, 70%);
}
body.dark .pt-switch.sub-switch input:checked + label ~ .right,
.pt-switch.sub-switch input:checked + label ~ .right {
  color: #fff;
}

@media screen and (max-width: 640px) {
  .pt-switch ~ .pt-switch {
    margin-top: auto;
  }
  .pt-switch > .sub-switch {
    float: left;
    position: relative;
    top: auto;
    left: -100%;
    bottom: 32px;
    margin-left: -0.5rem;
    margin-top: 4px;
  }
  .pt-switch input:checked ~ .pt-switch.sub-switch {
    position: relative;
  }

  /*    .cartModule.batch    */

  .cartModule.batch .cart-raiseType .pt-switch > .sub-switch {
    position: absolute;
    float: none;
    top: 100%;
    left: auto;
    bottom: auto;
    margin-left: auto;
    margin-top: 0.5rem;
  }
  .cartModule.batch
    .cart-raiseType
    .pt-switch
    input:checked
    ~ .pt-switch.sub-switch {
    position: static;
  }
}
@media screen and (max-width: 479px) {
  .pt-switch > .sub-switch {
    left: 100%;
    margin-left: 0.5rem;
  }

  /*    .cartModule.batch .pt-switch    */

  .cartModule.batch .cart-fieldset .cart-raiseType {
    height: 32px;
  }
  .cartModule.batch .cart-raiseType .pt-switch ~ .pt-switch {
    margin-top: auto;
  }
  .cartModule.batch .cart-raiseType .pt-switch > .sub-switch {
    float: left;
    position: relative;
    top: auto;
    left: 100%;
    bottom: 32px;
    margin-left: 0.5rem;
    margin-top: 4px;
  }
  .cartModule.batch
    .cart-raiseType
    .pt-switch
    input:checked
    ~ .pt-switch.sub-switch {
    position: relative;
  }
}

/*    .switch transition    */

.pt-switch,
.pt-switch input + label,
.pt-switch input + label:after,
.switch-text {
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*    .cart-total & caption    */

.raiseCart-caption {
  margin: 0.75rem auto;
  text-align: center;
}
body.dark .raiseCart-caption {
  color: #bea22f;
}
.cart-total h2 {
  text-align: right;
  margin: 1.5rem auto 3rem;
  padding: 0 1.5rem;
  font-weight: normal;
}
.cart-total h2 span {
  font-weight: bold;
  color: #bea22f;
}
@media screen and (max-width: 1023px) {
  .cart-total h2 {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 640px) {
  .cart-total h2 {
    text-align: center;
  }
}

/* =============================================================================
   RAISE EDIT OVERWRITE
   ========================================================================== */

/*    .raiseEdit    */

.raiseEdit .cartModule .media .cart-notNow {
  position: absolute;
  right: 0;
  margin: auto;
}
.raiseEdit .cartModule .media .cart-notNow button.sBtn {
  line-height: 32px;
}
.raiseEdit .cartModule .media .cart-comment {
  width: 100%;
  padding-right: 4.875rem;
}
.raiseEdit .cartModule .media .textBox {
  min-height: 4rem;
}
.raiseEdit .cart-fieldset {
  padding-right: 0;
  position: relative;
  width: 20rem;
  width: 100%;
  padding-left: 13.75rem;
  margin-top: -4rem;
  float: right;
}
.cart-fieldset .oldComment {
  max-height: 5em;
  margin-bottom: 0.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: hsl(97, 3%, 50%);
}
body.dark .cart-fieldset .oldComment {
  color: hsl(97, 3%, 70%);
}
.cart-fieldset .oldComment span {
  font-weight: normal;
}
body.dark .cart-fieldset .raiseEdit-caption {
  color: hsl(97, 3%, 60%);
}
.cart-fieldset .raiseEdit-caption {
  float: left;
  margin-top: 0.375rem;
  line-height: 1.25rem;
  color: hsl(97, 3%, 60%);
}
.cart-fieldset .raiseEdit-caption span {
  display: inline-block;
}
.cart-fieldset .raiseEdit-caption a {
  color: #bea22f;
}
.cart-fieldset .raiseEdit-caption a ~ a:before {
  content: "、";
  color: hsl(97, 3%, 60%);
}
.raiseEdit .cartModule.batch .media .cart-comment {
  padding-right: 0;
}
.raiseEdit .cartModule.batch .media .cart-fieldset {
  padding: 0;
  width: 100%;
  margin: auto;
}

/*    .raiseEdit .cartModule.lock    */

.raiseEdit .cartModule.lock .raiseEdit-caption,
.raiseEdit .cartModule.lock .cart-comment,
.raiseEdit .cartModule.lock .oldComment {
  opacity: 0.25;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 767px) {
  .raiseEdit .cartModule .media .textBox {
    min-height: 3rem;
  }
  .raiseEdit .cart-fieldset {
    margin-top: -3rem;
    padding-left: 12.75rem;
  }
}
@media screen and (max-width: 640px) {
  .raiseEdit .cartModule .media .textBox {
    min-height: 2.5rem;
  }
  .raiseEdit .cart-fieldset {
    margin-top: -2.5rem;
    padding-left: 11.75rem;
  }
}
@media screen and (max-width: 479px) {
  .raiseEdit .cart-fieldset {
    float: none;
    width: 100%;
    margin: auto;
    margin-top: 0.5rem;
    padding-left: 0;
  }
  .raiseEdit .cartModule.batch .media .cart-comment {
    padding-right: 4.875rem;
  }
  .raiseEdit .cartModule .media .cart-comment {
    padding-right: 0;
  }
  .raiseEdit .cartModule .media .cart-notNow {
    top: 0;
    margin-top: -3rem;
  }
  .raiseEdit .cartModule .media .cart-notNow button.sBtn {
    font-size: 0.7em;
    line-height: 24px;
  }
}

/* =============================================================================
   SHOP CART
   ========================================================================== */

.shopCart .cart-fieldset {
  padding-left: 0;
  width: auto;
}
.shopCart .cart-fieldset .cart-quantity {
  width: 4.625rem;
}
.shopCart .cart-fieldset .cart-quantity input {
  display: none;
  width: 100%;
}
.shopCart .cart-fieldset .cart-quantity.more label {
  display: none;
}
.shopCart .cart-fieldset .cart-quantity.more input {
  display: block;
}
.shopCart .cart-fieldset .cart-quantity:before {
  content: "x";
  position: absolute;
  line-height: 32px;
  right: 100%;
  margin-right: 1rem;
  color: hsl(97, 3%, 70%);
}
body.dark .shopCart .cart-fieldset .cart-quantity:before {
  color: hsl(97, 3%, 20%);
}
.shopCart .cartModule .media .textBox {
  width: 14rem;
}
.shopCart .cartModule .cart-price {
  width: 8rem;
}
.shopCart .cartModule .cart-price h5 {
  line-height: 1.25rem;
  font-size: 1rem;
  line-height: 32px;
  color: hsl(97, 3%, 30%);
}
body.dark.shopCart .cartModule .cart-price h5 {
  color: hsl(97, 3%, 95%);
}
.shopCart .cartModule .media .textBox h4 {
  white-space: normal;
}
.shopCart .cartModule .media .textBox h4 span {
  display: inline-block;
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  .shopCart .cartModule .media .textBox {
    width: 13rem;
  }
  .shopCart .cartModule .cart-price {
    width: 7rem;
  }
}
@media screen and (max-width: 479px) {
  .shopCart .cart-fieldset .cart-quantity {
    position: absolute;
    right: 0;
  }
}

/* =============================================================================
   TEMP IMG
   ========================================================================== */

/*    TEMP IMG DELETE ME LATER    */

.shopCart .cartModule .media .imgBox {
  background-size: contain;
  background-color: transparent;
}
#host01 .media .imgBox {
  background-image: url(../img/host/%E9%BB%83%E6%B4%8B%E9%81%94.jpg);
}
#host02 .media .imgBox {
  background-image: url(../img/host/%E6%B3%95%E5%9C%8B%E4%BD%AC.jpg);
}
#host03 .media .imgBox {
  background-image: url(../img/host/%E9%84%AD%E6%9D%BE%E6%B3%B0.jpg);
}

#shop01 .media .imgBox {
  background-image: url(../img/shop/s-ptimes.jpg);
}
#shop02 .media .imgBox {
  background-image: url(../img/shop/b-mm1.jpg);
}
#shop03 .media .imgBox {
  background-image: url(../img/shop/t-pts-mmcap.png);
}

.cartModule-wrap > h5 a {
  display: inline;
  font-weight: bold;
  color: #bea22f;
}
.cartModule-wrap > h5 {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px dashed hsl(97, 3%, 80%);
}
body.dark .cartModule-wrap > h5 {
  color: hsl(97, 3%, 70%);
  border-color: hsl(97, 3%, 20%);
}

/* =============================================================================
   CART SUMMARY
   ========================================================================== */

/*    .cart-summary-wrap    */

.cart-summary-wrap {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid hsl(97, 3%, 80%);
}
.cart-summary-wrap.total {
  padding-bottom: 0.5rem;
}
body.dark .cart-summary-wrap {
  border-color: hsl(97, 3%, 20%);
}

/*    .cart-subtotal    */

.cart-summary {
  position: relative;
  margin-left: auto;
  line-height: 1;
}
.cart-summary ~ .cart-summary {
  padding-top: 1.5rem;
}
.summary-title {
  position: absolute;
  left: 0;
  width: 3rem;
  font-weight: bold;
}
.summary-price {
  padding-left: 3rem;
  position: relative;
  text-align: right;
  width: 100%;
}
.total .summary-title {
  width: 5rem;
}
.total .summary-price {
  padding-left: 5rem;
}
.total .summary-price.withoutShipping {
  display: none;
}
body.dark .total .summary-price {
  color: #bea22f;
}
.summary-title,
.summary-price {
  color: hsl(97, 3%, 20%);
}
body.dark .summary-title,
body.dark .summary-price {
  color: hsl(97, 3%, 95%);
}

/*    .cart-summary input[type=radio]    */

.cart-summary .shipping-price {
  position: absolute;
  right: 0;
}
.cart-summary input[type="radio"] ~ .shipping-price {
  opacity: 0.5;
  text-decoration: line-through;
}
.cart-summary input[type="radio"]:checked ~ .shipping-price {
  opacity: 1;
  text-decoration: none;
}
.cart-summary label.radio {
  clear: both;
  width: 100%;
  line-height: 1;
  text-align: left;
}
body.dark .cart-summary label.radio {
  color: hsl(97, 3%, 95%);
}
.cart-summary label.radio + * {
  margin-top: 1em;
}
@media screen and (max-width: 469px) {
  .cart-summary-wrap {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .cart-summary-wrap.total {
    padding-top: 1.25rem;
  }
  .cart-summary ~ .cart-summary {
    padding-top: 1rem;
  }
  .cart-summary.shipping .summary-price {
    padding-left: 0;
    padding-top: 1.75rem;
  }
}

/* =============================================================================
   CHECKOUT-MAIN
   ========================================================================== */

.checkout-main {
  margin-top: 3rem;
}
.checkout-main + .btnCon {
  clear: both;
  margin-top: 3rem;
}
.shopCheckout .cartModule ~ .cartModule {
  border: none;
  margin-top: 0.5rem;
  padding-top: 0.25rem;
}
.shopCheckout .cartModule .media {
  min-height: 0;
}
.shopCheckout .cartModule .media .imgBox {
  display: none;
}
.shopCheckout .cartModule .media .textBox {
  padding-left: 0;
}
.shopCheckout .cartModule .cart-fieldset {
  padding: 0;
}
.shopCheckout .cartModule .cart-fieldset .cart-quantity {
  width: 2rem;
  text-align: right;
}
.shopCheckout .cartModule .cart-fieldset .cart-quantity:before {
  font-size: 0.875em;
  line-height: 1.25rem;
}
.shopCheckout .cartModule .cart-fieldset .cart-price h5,
.shopCheckout .cartModule .cart-fieldset .cart-quantity h5 {
  font-size: 0.875em;
  line-height: 1.25rem;
}
.shopCheckout .cartModule .cart-fieldset .cart-quantity h5 {
  color: hsl(97, 3%, 30%);
}
body.dark.shopCheckout .cartModule .cart-fieldset .cart-quantity h5 {
  color: hsl(97, 3%, 95%);
}
@media screen and (max-width: 767px) {
  .checkout-main {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 640px) {
  .checkout-main {
    margin-top: 0;
  }
}
@media screen and (max-width: 469px) {
  .checkout-main + .btnCon {
    margin-top: 1.5rem;
  }
  .shopCheckout .cartModule .media .textBox {
    width: 12rem;
  }
  .shopCheckout .cartModule .cart-fieldset {
    position: absolute;
    margin-top: 0;
  }
  .shopCheckout .cartModule .cart-price {
    width: auto;
    margin-right: 0.125rem;
  }
  .shopCheckout .cartModule .cart-fieldset .cart-quantity {
    position: relative;
    float: right;
    width: auto;
    /*    text-align: right;*/
  }
  .shopCheckout .cartModule .cart-fieldset .cart-quantity:before {
    margin-right: 0.25rem;
  }
  .shopCheckout .cartModule .media .textBox h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .shopCheckout .cartModule .media .textBox h4 span {
    display: inline;
  }
}

/* =============================================================================
   CHECKOUT-FORM-WRAP
   ========================================================================== */

/*  checkout-form-wrap  */

.checkout-form-wrap {
  position: relative;
  padding: 1.5rem;
  background-color: #fff;
  background-image: url(../img/bg-noise2.png);
}
body.dark .checkout-form-wrap {
  background-color: hsl(97, 3%, 10%);
}
/*
.checkout-form-wrap:before {
  content: " ";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  z-index: 10;
  border: 1px dashed hsl(97, 3%, 90%);
  padding: 1em;
  pointer-events: none;
}
*/
.checkout-form-wrap > h3 {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  .checkout-form-wrap {
    padding: 1rem;
  }
}
@media screen and (max-width: 640px) {
  .checkout-form-wrap {
    padding: 1.5rem 1rem;
    border-top: 1px solid hsl(97, 3%, 80%);
    border-bottom: 1px solid hsl(97, 3%, 80%);
  }
  body.dark .checkout-form-wrap {
    border-color: hsl(97, 3%, 20%);
  }
  /*
  .checkout-form-wrap:before {
    border: none;
  }
*/
}

/*    .checkout-form    */

.checkout-form {
}
.checkout-form {
  @extend .clearfix;
}

/*    form label    */

.checkout-form label {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 0.875em;
  color: hsl(97, 3%, 30%);
}
.checkout-form label.radio {
  width: auto;
  margin-top: 0.25em;
}
.checkout-form fieldset {
  float: left;
  width: 100%;
}
.checkout-form .name {
  width: 60%;
}
.checkout-form .name + .phone {
  margin-top: auto;
}
.checkout-form .phone {
  width: 40%;
  padding-left: 1rem;
}
.checkout-form .email {
}
.checkout-form .address1 {
}
.checkout-form .address2 {
}
.checkout-form .city {
  width: 60%;
}
.checkout-form .state {
  width: 40%;
  padding-left: 1rem;
}
.checkout-form .zipcode {
  width: 30%;
}
.checkout-form .country {
  width: 30%;
  padding-left: 1rem;
}
.checkout-form .country label.select-country {
  margin: auto;
  width: auto;
  width: 100%;
}
.checkout-form .country select {
  width: 100%;
  height: 44px;
  padding: 10px 1.125em 10px 0.625em;
  font-size: 1rem;
  line-height: 1.5;
}
.checkout-form .radio-con {
  float: left;
  width: 100%;
}
.checkout-form .radio-con ~ .radio-con {
  margin-top: 1rem;
}
.checkout-form .captcha {
  float: left;
  clear: both;
}
.checkout-form input {
  width: 100%;
  height: 44px;
  padding: 10px 0.625em;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: inset 0 0 0 1px hsl(34, 3%, 80%);
}
body.dark .checkout-form input {
  box-shadow: inset 0 0 0 1px hsl(34, 3%, 20%);
  color: #fff;
}
.checkout-form input:focus {
  background-color: #fff;
}
body.dark .checkout-form input:focus {
  box-shadow: inset 0 0 0 1px #bea22f;
  background-color: hsl(97, 3%, 10%);
}
.checkout-form h5 {
  display: block;
  clear: both;
  float: left;
  width: 100%;
}
body.dark .checkout-form h5 {
  color: hsl(97, 3%, 70%);
}
.checkout-form h5 ~ h5 {
  margin-top: 0.5rem;
}
@media screen and (max-width: 640px) {
  .checkout-form .name {
    width: 100%;
  }
  .checkout-form .name + .phone {
    margin-top: 1rem;
  }
  .checkout-form .phone {
    width: 100%;
    padding-left: 0;
  }
  .checkout-form .zipcode {
    width: 40%;
  }
  .checkout-form .country {
    width: 60%;
  }
}

/*    form fieldset    */

.checkout-form fieldset + h5 {
  clear: both;
  margin-top: 1rem;
}
.checkout-form fieldset ~ fieldset {
  margin-top: 1.5rem;
}
.checkout-form .btnCon {
  float: left;
  clear: both;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px dashed hsl(97, 3%, 90%);
}
body.dark .checkout-form .btnCon {
  border-color: hsl(97, 3%, 20%);
}

/*    form fail    */

.checkout-form fieldset label > .fail {
  display: none;
  color: hsl(5, 65%, 65%);
}
.checkout-form fieldset.fail label > .fail {
  display: inline-block;
}
.checkout-form fieldset.fail input {
  box-shadow: inset 0 0 0 1px hsl(5, 65%, 65%);
}

/*    form input    */

.checkout-form fieldset.fail input,
.checkout-form fieldset.fail input:focus {
  box-shadow: inset 0 0 0 1px solid hsl(5, 65%, 65%);
}
@media screen and (max-width: 640px) {
  .checkout-form fieldset ~ fieldset {
    margin-top: 1rem;
  }
  /*
  .checkout-form input {
    height: 32px;
    font-size: 0.875em;
    line-height: 20px;
    padding: 0.375rem 0.5rem;
  }
*/
}

/* =============================================================================
   STUFF FOR SHOP CHECKOUT PRINTING
   ========================================================================== */

@media print {
  .shopCheckout * {
    background: transparent !important;
    color: hsl(0, 0%, 30%) !important;
  }
  body.shopCheckout {
    width: 90%;
    margin: auto;
    background: transparent !important;
  }
  .shopCheckout .bodyContainer {
    font-size: 0.75em;
  }
  .shopCheckout .cartModule-wrap .cart-summary-wrap.total .summary-price,
  .shopCheckout .cartModule-wrap .cart-summary.shipping,
  .shopCheckout .cartModule-wrap > h5,
  .shopCheckout .cartModule-wrap > .btnCon,
  .shopCheckout .checkout-main + .btnCon,
  .shopCheckout .checkout-main,
  .shopCheckout .cartHead,
  .shopCheckout .pageFooter,
  .shopCheckout .dark-overlay,
  .shopCheckout .shareScreen,
  .shopCheckout .navWrap {
    display: none;
  }
  .shopCheckout
    .cartModule-wrap
    .cart-summary-wrap.total
    .summary-price.withoutShipping {
    display: block;
  }
  .shopCheckout .cart-header li {
    line-height: 1;
  }
  .shopCheckout .cartModule:first-child {
    border-top: 1px solid hsl(0, 0%, 80%);
    padding-top: 1.5rem;
  }
  .shopCheckout .cart-main {
    padding-left: 180px;
  }
  .shopCheckout .infoForPrintingOnly {
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .shopCheckout .infoForPrintingOnly .print-logo {
    width: 80px;
    height: 99.5px;
    margin-left: 0;
    opacity: 0.7;
  }
  .shopCheckout .infoForPrintingOnly .textBox {
    margin-top: 1em;
    font-size: 8px;
    line-height: 1.75;
    letter-spacing: 1px;
    opacity: 0.7;
  }
  .shopCheckout .maxWrapper {
    max-width: 100%;
    padding: 0;
  }
}
