@media only screen and (max-width: 1280px) {
  .bodyContainer {
    display: block;
  }
}

.text-overflow, .ranking-wrap .media h4, .host-prog h6 a, .raise .media .textBox h4 {
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

/* =============================================================================
 RAISE HEADER
 ========================================================================== */
.raise-header {
  text-align: center;
  /*  background-color: hsl(97, 3%, 95%);*/
  border-bottom: 1px solid #ccceca;
}

body.dark .raise-header {
  background-color: #000;
  border-color: #333531;
}

.raise-head {
  padding: 2em 0;
}

.raise-head h1 {
  font-size: 2rem;
  margin-bottom: 0.1em;
}

.raise-head h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.raise-head .btnCon {
  margin-top: 0.75em;
}

/*.raise-abstract*/
.raise-abstract {
  display: none;
  padding: 2em 0 2.5em;
  border-top: 1px solid #ccceca;
}

body.dark .raise-abstract {
  border-color: #333531;
}

.raise-abstract.active {
  display: block;
}

.raise-class-abstract {
  text-align: left;
}

.raise-class-abstract h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.raise-class-abstract h3 {
  margin: 0.25em auto 0.5em;
  font-weight: normal;
  line-height: 1.5;
}

body.dark .raise-class-abstract h5 {
  color: #989c96;
}

/*.raise-class*/
.raise-class {
  overflow: hidden;
}

.raise-class .media {
  float: left;
  padding: 0 2.5%;
  width: 33.3333333333%;
  /*TEMP IMG HI-RES NEEDED*/
}

.raise-class .media .imgBox {
  width: 4rem;
  height: 4rem;
  margin: auto;
  margin-bottom: -0.25rem;
}

.raise-class .media:nth-child(1) .imgBox {
  background-image: url(../img/class1.png);
}

.raise-class .media:nth-child(2) .imgBox {
  background-image: url(../img/class2.png);
}

.raise-class .media:nth-child(3) .imgBox {
  background-image: url(../img/class3.png);
}

.raise-class .media .textBox {
  text-align: center;
}

.raise-class .media .textBox h4 {
  font-size: 1rem;
  margin-bottom: 0.125rem;
}

body.dark .raise-class .media .textBox h5 {
  color: #989c96;
}

@media only screen and (min-width: 769px) {
  .raise-info .maxWrapper {
    display: table;
  }
  .raise-class-abstract,
  .raise-class {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
  .raise-class-abstract {
    padding-right: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .raise-abstract {
    padding: 2em 0;
  }
  .raise-class-abstract {
    padding-bottom: 2em;
  }
  .raise-class {
    margin: auto -2%;
  }
  .raise-class .media {
    width: 32%;
    padding: 0;
  }
  .raise-class .media + * {
    margin-left: 2%;
  }
}

/* =============================================================================
 TOP SEVEN
 ========================================================================== */
.raise-topSeven {
  text-align: center;
  padding: 4em 0;
  border-bottom: 1px solid #ccceca;
  background-image: url(../img/raise-06%20copy.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}

body.dark .raise-topSeven {
  border-color: #333531;
}

.topSeven-wrap {
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 1em;
     -moz-border-radius: 1em;
          border-radius: 1em;
  background-color: #262725;
}

.topSeven-abstract {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.5em;
}

.topSeven-subtitle {
  margin: auto;
  font-size: 0.8em;
  letter-spacing: 0.5em;
}

.topSeven-logo {
  width: 480px;
  max-width: 90%;
  margin: 1.5em auto 2em;
}

.topSeven-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  padding-right: 1em;
}

.topSeven-text p,
body.dark .topSeven-text p {
  max-width: 640px;
  font-size: 1em;
  line-height: 1.5;
  color: #f2f3f2;
}

.topSeven-text h5,
body.dark .topSeven-text h5 {
  margin-top: 1em;
  color: #989c96;
}

.topSeven-countdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topSeven-countdown .unit {
  color: #f3b411;
  text-align: center;
}

.topSeven-countdown .unit + .unit {
  margin-left: 0.5em;
}

.topSeven-countdown .unit > * {
  clear: both;
  display: block;
}

.topSeven-countdown .unit .value {
  width: auto;
  min-width: 2.5em;
  padding: 0.5em;
  font-size: 2em;
  border: 1px solid #f3b411;
  -webkit-border-radius: 0.0625em;
     -moz-border-radius: 0.0625em;
          border-radius: 0.0625em;
}

@media screen and (max-width: 568px) {
  .topSeven-countdown .unit .value {
    font-size: 6.4vw;
  }
}

.topSeven-countdown .unit label {
  margin-top: 0.5em;
  font-size: 0.8em;
}

@media screen and (max-width: 1023px) {
  .topSeven-abstract {
    display: block;
  }
  .topSeven-text {
    text-align: center;
    padding-right: 0;
  }
  .topSeven-text p {
    margin: auto;
  }
  .topSeven-countdown {
    margin-top: 1em;
  }
}

/* .topSeven-main */
.topSeven-group {
  width: 100%;
  font-size: 0.9em;
  line-height: 2;
  font-weight: normal;
  letter-spacing: 0.25em;
  color: #fff;
}

.topSeven-group.male {
  background-color: #09adea;
}

.topSeven-group.female {
  background-color: #c61b21;
}

.topSeven-main {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  background-color: #000;
}

.ranking-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ranking-wrap .media {
  position: relative;
  overflow: hidden;
  width: -webkit-calc(100% / 8);
  width: -moz-calc(100% / 8);
  width: calc(100% / 8);
  min-width: 120px;
  padding: 1em;
  text-align: center;
}

.ranking-wrap .media:hover {
  background-color: #191a19;
  -webkit-box-shadow: 0 0 1em #000, inset 0 0 0 1px #4c4f4a;
     -moz-box-shadow: 0 0 1em #000, inset 0 0 0 1px #4c4f4a;
          box-shadow: 0 0 1em #000, inset 0 0 0 1px #4c4f4a;
}

.ranking-wrap .media .rank {
  width: 2em;
  height: 2em;
  margin: auto;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 2;
  color: #f3b411;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 2px #f3b411;
     -moz-box-shadow: inset 0 0 0 2px #f3b411;
          box-shadow: inset 0 0 0 2px #f3b411;
}

.ranking-wrap .media:nth-child(n + 4) .rank {
  color: #989c96;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.ranking-wrap .media .imgBox {
  display: block;
  width: 72px;
  height: 72px;
  margin: 0.75em auto;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background-image: url(../img/host/%E9%BB%83%E6%B4%8B%E9%81%94.jpg);
}

.ranking-wrap .media h4 {
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
}

.ranking-wrap .media .status {
  margin-top: 0.5em;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1;
  color: #b2b5b0;
}

.ranking-wrap .media .status .pt-down.inline,
.ranking-wrap .media .status .pt-up.inline {
  -webkit-transform: scale(1.75);
     -moz-transform: scale(1.75);
      -ms-transform: scale(1.75);
       -o-transform: scale(1.75);
          transform: scale(1.75);
}

.ranking-wrap .media .status.up {
  color: #f3b411;
}

/* =============================================================================
 RAISE TOGGLE
 ========================================================================== */
.section-toggle {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccceca;
  background-color: #fff;
  background-color: #f2f3f2;
}

body.dark .section-toggle {
  border-color: #333531;
  background-color: #000;
}

.section-toggle.child2 .section-toggle-option {
  width: 50%;
}

.section-toggle.child3 .section-toggle-option {
  width: 33.3333333333%;
}

.section-toggle .maxWrapper {
  width: 600px;
  max-width: 100%;
}

.section-toggle.child2 .maxWrapper {
  width: 400px;
}

.section-toggle-option {
  position: relative;
  float: left;
  line-height: 60px;
  color: #4c4f4a;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body.dark .section-toggle-option {
  color: white;
}

.section-toggle-option.active,
body.dark .section-toggle-option.active {
  color: #f3b411;
  -webkit-box-shadow: inset 0 -5px #f3b411;
     -moz-box-shadow: inset 0 -5px #f3b411;
          box-shadow: inset 0 -5px #f3b411;
}

.toggle-option-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto -2em;
  margin-top: 1em;
  padding: 0.5rem 0;
  text-align: left;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1), 0 0 0.25em rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1), 0 0 0.25em rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.1), 0 0 0.25em rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
      -ms-transform-origin: top left;
       -o-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
     -moz-transform: scale3d(0.8, 0.8, 0.8);
          transform: scale3d(0.8, 0.8, 0.8);
  -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  pointer-events: none;
  opacity: 0;
}

.toggle-option-list.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale3d(1, 1, 1);
     -moz-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

@media screen and (max-width: 420px) {
  .section-toggle .maxWrapper {
    padding: 0;
  }
  .dd-overlay.section-toggle-overlay {
    opacity: 0.5;
    z-index: 1001;
    pointer-events: auto;
  }
  .section-toggle-option {
    position: static;
    font-size: 0.875em;
  }
  .toggle-option-list {
    position: fixed;
    max-height: 75%;
    top: auto;
    bottom: 0;
    z-index: 1002;
    margin: auto;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-transform-origin: bottom center;
       -moz-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
         -o-transform-origin: bottom center;
            transform-origin: bottom center;
    -webkit-transform: scale3d(0.975, 0.975, 0.975) translateY(25%);
       -moz-transform: scale3d(0.975, 0.975, 0.975) translateY(25%);
            transform: scale3d(0.975, 0.975, 0.975) translateY(25%);
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

body.dark .toggle-option-list {
  background-color: #000;
  border-color: #ccceca;
  padding: 0.5rem 0;
}

.toggle-option-list li {
  font-size: 0.875rem;
  line-height: 2.5;
  padding: 0 1rem;
  color: #4c4f4a;
}

body.dark .toggle-option-list li {
  color: #fff;
}

.toggle-option-list .header,
body.dark .toggle-option-list .header {
  font-size: 0.675rem;
  line-height: 2.5;
  color: #989c96;
  padding: 0 1rem;
  pointer-events: none;
}

.toggle-option-list .separator {
  height: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid #e5e6e5;
  pointer-events: none;
}

body.dark .toggle-option-list .separator {
  border-top: 1px solid #333531;
}

.toggle-option-list li:hover {
  background-color: #f2f3f2;
}

body.dark .toggle-option-list li:hover {
  background-color: #333531;
}

.toggle-option-list li.active,
.toggle-option-list li.active:hover {
  background-color: #f3b411;
  color: #fff;
}

.toggle-option-list .header:hover,
.toggle-option-list .separator:hover {
  background-color: transparent;
  color: #989c96;
}

@media screen and (max-width: 420px) {
  .toggle-option-list li {
    font-size: 1rem;
  }
  .toggle-option-list .header {
    font-size: 0.75rem;
  }
}

/* =============================================================================
 RAISE LIST
 ========================================================================== */
.raiseList {
  position: relative;
  padding: 2em 0 5em;
}

.crewListPage .raiseList {
  padding: 2em 0;
}

@media screen and (max-width: 420px) {
  .raiseList {
    padding: 2em 0 4em;
  }
}

/* =============================================================================
 RAISE ACTION BAR
 ========================================================================== */
.raiseActionBar.stick {
  position: fixed;
}

.raiseActionBar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  padding: 10px 0;
  border-top: 1px solid #ccceca;
  background-color: rgba(242, 243, 242, 0.9);
  -webkit-transform: translateY(60px);
     -moz-transform: translateY(60px);
      -ms-transform: translateY(60px);
       -o-transform: translateY(60px);
          transform: translateY(60px);
  text-align: center;
}

body.dark .raiseActionBar {
  border-top: 1px solid #333531;
  background-color: rgba(0, 0, 0, 0.75);
}

.raiseActionBar.active {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

.raiseActionBar span {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 40px;
}

body.dark .raiseActionBar span {
  color: #fff;
}

.raiseActionBar button {
  float: right;
  color: #fff;
  margin-left: 10px;
  margin-right: 0;
}

.raiseActionBar button.faded {
  opacity: 0.5;
  cursor: not-allowed;
}

.raiseActionBar button span {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .raiseActionBar > .maxWrapper {
    max-width: 100%;
    padding: 0 1.25em;
  }
}

@media only screen and (max-width: 767px) {
  .raiseActionBar > .maxWrapper {
    padding: 0 1em;
  }
}

@media screen and (max-width: 420px) {
  .raiseActionBar {
    height: 50px;
    padding: 7px 0;
  }
  .raiseActionBar span {
    display: none;
  }
  .raiseActionBar > .maxWrapper {
    padding: 0 0.5rem;
  }
  .raiseActionBar button.lBtn {
    font-size: 0.875em;
    line-height: 36px;
    margin: auto;
    width: 49%;
  }
  .raiseActionBar button.lBtn + * {
    margin-right: 2%;
  }
  .raiseActionBar button span {
    display: inline;
    padding-left: 0.3125em;
    line-height: inherit;
  }
}

/* =============================================================================
 RAISELIST-MAIN
 ========================================================================== */
.raiseList-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: auto -0.75em;
}

.raiseList-main:after {
  /* clearfix */
  content: " ";
  visibility: hidden;
  height: 0;
  display: table;
  clear: both;
}

.raiseModule {
  position: relative;
  width: 14.285714286%;
  padding: 0.75em;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
}

.crewListPage .raiseModule,
.raiseModule.active {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

@media only screen and (max-width: 1280px) {
  .raiseModule {
    width: 16.6666666666%;
  }
}

@media only screen and (max-width: 1023px) {
  .raiseList-main {
    margin: auto -0.625em;
  }
  .raiseModule {
    width: 20%;
    padding: 0.625em;
  }
}

@media only screen and (max-width: 767px) {
  .raiseList-main {
    margin: auto -0.5em;
  }
  .raiseModule {
    width: 25%;
    padding: 0.5em;
  }
}

@media only screen and (max-width: 567px) {
  .raiseModule {
    width: 33.3333333333%;
  }
}

@media only screen and (max-width: 420px) {
  .raiseModule {
    width: 50%;
  }
}

.raise .media {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body.dark .raise .media {
  background-color: #000;
}

.raise .media:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #ccceca;
     -moz-box-shadow: 0 0 0 1px #ccceca;
          box-shadow: 0 0 0 1px #ccceca;
}

.mobile .raise .media:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.mobile .raise .raiseModule.reveal-hostInfo .media {
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #ccceca;
     -moz-box-shadow: 0 0 0 1px #ccceca;
          box-shadow: 0 0 0 1px #ccceca;
}

.mobile body.dark .raise .raiseModule.reveal-hostInfo .media {
  background-color: #000;
  -webkit-box-shadow: 0 0 0 1px #333531;
     -moz-box-shadow: 0 0 0 1px #333531;
          box-shadow: 0 0 0 1px #333531;
}

body.dark .raise .media:hover {
  -webkit-box-shadow: 0 0 0 1px #333531;
     -moz-box-shadow: 0 0 0 1px #333531;
          box-shadow: 0 0 0 1px #333531;
}

.raise .raiseModule.checked .media,
.mobile .raise .raiseModule.checked .media {
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 2px #c7a935;
     -moz-box-shadow: 0 0 0 2px #c7a935;
          box-shadow: 0 0 0 2px #c7a935;
  -webkit-animation-duration: 0.4s;
     -moz-animation-duration: 0.4s;
       -o-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: pulse;
     -moz-animation-name: pulse;
       -o-animation-name: pulse;
          animation-name: pulse;
}

body.dark .raise .raiseModule.checked.reveal-hostInfo .media,
body.dark .raise .raiseModule.checked .media {
  background-color: #000;
  -webkit-box-shadow: 0 0 0 2px #c7a935;
     -moz-box-shadow: 0 0 0 2px #c7a935;
          box-shadow: 0 0 0 2px #c7a935;
}

/*  .raise .media .imgBox  */
.raise .media .imgBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  margin: auto;
  padding: 50%;
}

.raise .media .imgBox .hostProfile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.raise .raiseModule.checked .media .imgBox .hostProfile {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

/*raiseModule hostProfile*/
.raiseModule .hostProfile {
  background-image: url(../img/host/BJ.jpg);
}

.raiseModule:nth-child(02) .hostProfile {
  background-image: url(../img/host/%E5%85%AB%E7%A5%9E.jpg);
}

.raiseModule:nth-child(03) .hostProfile {
  background-image: url(../img/host/Ka.jpg);
}

/*  .hostInfo  */
.hostInfo {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  right: -0.5em;
  bottom: -0.5em;
  z-index: 20;
  padding: 0.25em;
  background-color: rgba(255, 255, 255, 0.875);
  opacity: 0;
  pointer-events: none;
}

body.dark .hostInfo {
  background-color: rgba(0, 0, 0, 0.875);
}

.raise .media:hover .hostInfo {
  opacity: 1;
  pointer-events: auto;
}

.mobile .raise .media:hover .hostInfo {
  opacity: 0;
  pointer-events: none;
}

.mobile .raise .reveal-hostInfo .media .hostInfo {
  opacity: 1;
  pointer-events: auto;
}

.host-prog {
  width: 100%;
  height: 100%;
  padding: 0.25em;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
}

.host-prog h6 {
  text-align: left;
  font-size: 0.7em;
  line-height: 1.25rem;
}

.host-prog h6 + * {
  margin-top: 0.5em;
}

.host-prog h6 a {
  display: block;
  padding: 0.25rem 0.5rem;
  color: #333531;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-weight: bold;
}

.host-prog h6 a:hover {
  background-color: #fff;
}

body.dark .host-prog h6 a {
  color: #fff;
}

body.dark .host-prog h6 a:hover {
  background-color: #000;
}

.raise .media:hover .host-prog {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

.mobile .raise .media:hover .host-prog {
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
}

.mobile .raise .raiseModule.reveal-hostInfo .media .host-prog {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

/*  .raise-checkBox  */
.raise-badge,
.raise-checkBox {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 7;
  margin: auto;
  font-size: 0.75em;
  line-height: 2;
  padding: 0 0.5em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  pointer-events: none;
}

.raise-badge:before,
.raise-checkBox:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: -0.5em;
  bottom: 0;
  z-index: -1;
  margin: auto;
  background-color: #bea22f;
  -webkit-border-top-left-radius: 3px;
     -moz-border-radius-topleft: 3px;
          border-top-left-radius: 3px;
  -webkit-transform: skewX(-10deg);
     -moz-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
       -o-transform: skewX(-10deg);
          transform: skewX(-10deg);
  -webkit-box-shadow: -0.25em -0.25em 1em rgba(0, 0, 0, 0.25);
     -moz-box-shadow: -0.25em -0.25em 1em rgba(0, 0, 0, 0.25);
          box-shadow: -0.25em -0.25em 1em rgba(0, 0, 0, 0.25);
}

.raise-checkBox {
  opacity: 0;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
}

.raiseModule.checked .raise-checkBox {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

.raiseModule.checked .raise-checkBox + .raise-badge {
  display: none;
}

.raise-badge {
  color: #4c4f4a;
}

.raise-badge:before {
  background-color: #fff;
}

/*  .raise .media .textBox  */
.mobile .raise .raiseModule .media .textBox {
  position: relative;
  padding-right: 1.15625rem;
}

.raise .media .textBox h4 {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 18px;
  padding: 0.75rem 0 0.25rem;
}

.raisePage .raise .media:hover .textBox h4 {
  display: none;
}

.mobile.crewListPage .raise .raiseModule.reveal-hostInfo .media .textBox h4,
.mobile .raise .raiseModule .media:hover .textBox h4 {
  display: block;
}

.mobile .raise .raiseModule.reveal-hostInfo .media .textBox h4 {
  display: none;
}

.raise-select {
  display: none;
  height: 26px;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 26px;
  color: #333531;
}

body.dark .raise-select {
  color: #fff;
}

.raise .media:hover .raise-select {
  display: block;
}

.mobile .raise .media:hover .raise-select {
  display: none;
}

.raiseModule.checked .raise-select {
  color: #bea22f;
}

.mobile .raise .raiseModule.reveal-hostInfo .media .raise-select {
  display: block;
}

.raise-infoTrigger {
  display: none;
}

.mobile .raise-infoTrigger {
  display: block;
  position: absolute;
  right: -0.3625rem;
  bottom: 0;
  z-index: 5;
  margin: auto;
  width: 26px;
  height: 26px;
}

.mobile .raise-infoTrigger i {
  font-size: 1.125rem;
  line-height: 26px;
  color: #989c96;
}

body.dark.mobile .raise-infoTrigger i {
  color: #fff;
}

/*  transition  */
.raise .raiseModule.checked .media,
.raiseActionBar,
.raiseModule {
  -webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}

.raise .media,
.raise-checkBox,
.host-prog,
.hostInfo {
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    -moz-transform: scale3d(0.95, 0.95, 0.95);
    -ms-transform: scale3d(0.95, 0.95, 0.95);
    -o-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  30% {
    -webkit-transform: scale3d(1.025, 1.025, 1.025);
    -moz-transform: scale3d(1.025, 1.025, 1.025);
    -ms-transform: scale3d(1.025, 1.025, 1.025);
    -o-transform: scale3d(1.025, 1.025, 1.025);
    transform: scale3d(1.025, 1.025, 1.025);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-moz-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    -moz-transform: scale3d(0.95, 0.95, 0.95);
    -ms-transform: scale3d(0.95, 0.95, 0.95);
    -o-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  30% {
    -webkit-transform: scale3d(1.025, 1.025, 1.025);
    -moz-transform: scale3d(1.025, 1.025, 1.025);
    -ms-transform: scale3d(1.025, 1.025, 1.025);
    -o-transform: scale3d(1.025, 1.025, 1.025);
    transform: scale3d(1.025, 1.025, 1.025);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    -moz-transform: scale3d(0.95, 0.95, 0.95);
    -ms-transform: scale3d(0.95, 0.95, 0.95);
    -o-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  30% {
    -webkit-transform: scale3d(1.025, 1.025, 1.025);
    -moz-transform: scale3d(1.025, 1.025, 1.025);
    -ms-transform: scale3d(1.025, 1.025, 1.025);
    -o-transform: scale3d(1.025, 1.025, 1.025);
    transform: scale3d(1.025, 1.025, 1.025);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    -moz-transform: scale3d(0.95, 0.95, 0.95);
    -o-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  30% {
    -webkit-transform: scale3d(1.025, 1.025, 1.025);
    -moz-transform: scale3d(1.025, 1.025, 1.025);
    -o-transform: scale3d(1.025, 1.025, 1.025);
    transform: scale3d(1.025, 1.025, 1.025);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
