/* =============================================================================
   RAISE CART
   ========================================================================== */

.cart-wrap {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 6em;
}
.cartHead {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.cart-title {
  text-align: center;
  margin-bottom: 0.25rem;
}
.cart-info {
  text-align: center;
}
body.dark .cart-info {
  color: hsl(97, 3%, 70%);
}
.cart-main {
  background-color: hsl(97, 3%, 92%);
}
body.dark .cart-main {
  background-color: hsl(97, 3%, 10%);
}

@media screen and (max-width: 767px) {
  .cart-wrap {
    margin-bottom: 3em;
  }
  .cart-wrap .maxWrapper {
    max-width: 100%;
    padding: 0;
  }
  .cartHead {
    padding-top: 1.5rem;
  }
  .cart-title {
    margin-bottom: 0.25rem;
  }
}
@media screen and (max-width: 640px) {
  .cartHead {
    padding: 1rem 0;
    background-color: hsl(97, 3%, 20%);
  }
  .cart-title {
    margin-bottom: 0.125rem;
    color: hsl(97, 3%, 95%);
    font-size: 1rem;
  }
  .cart-info {
    font-size: 0.75rem;
    color: hsl(97, 3%, 70%);
  }
}

/*    .cart-header    */

.cart-header {
  padding: 0 1.5rem;
  overflow: hidden;
  background-color: hsl(97, 3%, 30%);
}
body.dark .cart-header {
  background-color: hsl(97, 3%, 20%);
}
.cart-header li {
  float: left;
  font-size: 0.875em;
  line-height: 30px;
  color: hsl(97, 3%, 95%);
}
.cart-header .rc-h1 {
  width: 14rem;
}
.cart-header .rc-h2 {
  width: 6rem;
}
.cart-header .rc-h3 {
  width: 7.25rem;
}
.cart-header .rc-h4 {
  width: 10rem;
}

@media screen and (max-width: 1023px) {
  .cart-header {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 767px) {
  .cart-header .rc-h1 {
    width: 12rem;
  }
}
@media screen and (max-width: 640px) {
  .cart-header {
    display: none;
  }
}

/* =============================================================================
   RAISE CART MODULE
   ========================================================================== */

.cartModule-wrap {
  padding: 1.5em;
}

@media screen and (max-width: 1023px) {
  .cartModule-wrap {
    padding: 1em;
  }
}

/*    .cartModule    */

body.dark .cartModule {
  border-color: hsl(97, 3%, 20%);
}
.cartModule ~ .cartModule {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px solid hsl(97, 3%, 80%);
}
.cartModule .media {
  width: 100%;
  min-height: 4rem;
  /*  outline: 1px solid orange;*/
}
.cartModule .media .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 4rem;
  height: 4rem;
  background-color: #000;
}
.cartModule .media .textBox {
/*    border: 1px solid lime;*/
  padding-left: 5rem;
  width: 14rem;
}
          .cartModule .media .textBox h4 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body.dark .cartModule .media .textBox h5 {
  color: #bea22f;
}

@media screen and (max-width: 767px) {
  .cartModule ~ .cartModule {
    margin-top: 1em;
    padding-top: 1em;
  }
  .cartModule .media .imgBox {
    width: 3rem;
    height: 3rem;
  }
  .cartModule .media .textBox {
    padding-left: 4rem;
    width: 12rem;
  }
}
@media screen and (max-width: 640px) {
/*
  .cartModule ~ .cartModule {
    margin-top: 0.75em;
    padding-top: 0.75em;
  }
*/
  .cartModule .media .imgBox {
    width: 2.5rem;
    height: 2.5rem;
  }
  .cartModule .media .textBox {
    min-height: 3rem;
    min-height: 2.5rem;
    padding-left: 3.25rem;
/*    width: 100%;*/
  }
}

/*    .cart-fieldset    */

.cart-fieldset {
  position: absolute;
  top: 0;
  left: 14rem;
  right: 0;
/*  outline: 1px solid lime;*/
}
.cart-fieldset::after {
  /* clearfix */
  content: ' ';
  visibility: hidden;
  height: 0;
  display: table;
  clear: both;
}
.cart-fieldset .fail input {
  box-shadow: inset 0 0 0 2px hsl(5, 65%, 65%);
}
.cart-fieldset h6.caption {
  display: none;
}
.cart-fieldset .fail h6.caption {
  display: block;
  color: hsl(5, 65%, 65%);
}
.cart-fieldset > div ~ div {
  margin-left: 1rem;
}
.cart-fieldset > div h6 {
  margin-top: 0.5em;
}
.cart-fieldset > div::after {
  /* clearfix */
  content: ' ';
  visibility: hidden;
  height: 0;
  display: table;
  clear: both;
}
.cart-fieldset > div {
  position: relative;
  float: left;
  /*  outline: 1px solid blue;*/
}
.cart-fieldset .cart-value {
  width: 5rem;
}
.cart-fieldset .cart-value:before {
  content: '$';
  position: absolute;
/*
  left: 0;
  margin-left: 0.5em;
*/
  right: 100%;
  margin-right: 0.3125em;
  font-size: 0.875em;
  line-height: 32px;
  color: hsl(97, 3%, 70%);
}
          .cart-fieldset input {
  width: 100%;
  font-size: 0.875em;
  line-height: 20px;
  padding: 0.375rem 0.5rem;
/*  padding-left: 1rem;*/
  background-color: hsl(97, 3%, 95%);
}
body.dark .cart-fieldset input {
  box-shadow: inset 0 0 0 1px hsl(34, 3%, 20%);
  background-color: hsl(97, 3%, 30%);
  color: hsl(97, 3%, 95%);
}
          .cart-fieldset input:focus {
  background-color: #fff;
}
body.dark .cart-fieldset input:focus {
  box-shadow: inset 0 0 0 1px #bea22f;
  background-color: hsl(97, 3%, 10%);
}
.cart-fieldset .cart-raiseType {
  position: relative;
  width: 6.25rem;
}
.cart-fieldset .cart-comment {
  width: 10rem;
}
.cart-fieldset .cart-remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  margin: auto;
  margin-right: -8px;
  padding: 0;
  line-height: 32px;
  text-align: center;
  box-shadow: none;
}
body.dark .cart-fieldset .cart-remove {
  box-shadow: none;
  color: hsl(97, 3%, 95%);
}

@media screen and (max-width: 767px) {
  .cart-fieldset {
    left: 12rem;
  }
}
@media screen and (max-width: 640px) {
  .cart-fieldset {
    position: static;
    margin-top: 0.5rem;
  }
  .cart-fieldset .cart-remove {
    margin-top: -8px;
  }
}

/*    .cartModule.batch    */

          .cartModule.batch {
  margin: -1.5rem -1.5rem auto;
  padding: 1em 0;
  background-color: hsl(97, 3%, 85%);
  border-bottom: 1px solid hsl(97, 3%, 80%);
}
body.dark .cartModule.batch {
  background-color: hsl(97, 3%, 10%);
  border-color: hsl(97, 3%, 20%);
}
.cartModule.batch .raise-setAll-toggle + .cart-fieldset,
.cartModule.batch .raise-setAll-toggle.showBatchEdit {
  display: none;
}
.cartModule.batch .raise-setAll-toggle.showBatchEdit + .cart-fieldset {
  display: block;
}
.cartModule.batch .media {
  padding: 0 1.5rem;
  min-height: 0;
}
.cartModule.batch .media .cart-fieldset {
  position: relative;
  left: 0;
  right: 0;
  padding: 0 1.5rem 0 14rem;
  margin: 0.5rem auto;
}
.cartModule.batch .media .cart-fieldset h4 {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  font-weight: bold;
}
.cartModule.batch .media .cart-fieldset > div button {
  margin-top: 0.75em;
  position: static;
}
.cartModule.batch + .cartModule {
  margin-top: auto;
  border: none;
}

@media screen and (max-width: 1023px) {
  .cartModule.batch {
    margin: -1rem -1rem auto;
  }
  .cartModule.batch .media {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 767px) {
  .cartModule.batch {
    padding: 0.75em 0;
  }
  .cartModule.batch .media .cart-fieldset {
    padding: 0 1rem 0 12rem;
    margin: auto;
  }
}

/*    TEMP IMG DELETE ME LATER    */

.raiseCart #host01 .media .imgBox {
  background-image: url(../img/host/%E9%BB%83%E6%B4%8B%E9%81%94.jpg);
}
.raiseCart #host02 .media .imgBox {
  background-image: url(../img/host/%E6%B3%95%E5%9C%8B%E4%BD%AC.jpg);
}
.raiseCart #host03 .media .imgBox {
  background-image: url(../img/host/%E9%84%AD%E6%9D%BE%E6%B3%B0.jpg);
}

/*    .switch-text    */

.switch-text {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  margin: auto;
  line-height: 32px;
  font-size: 0.875em;
  color: #bea22f;
  width: 50%;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  color: hsl(97, 3%, 95%);
}
.switch-text.right {
  color: hsl(97, 3%, 30%);
  right: 0;
  left: auto;
}
body.dark .switch-text.right {
  color: hsl(97, 3%, 95%);
}
body.dark .sub-switch .switch-text,
.sub-switch .switch-text {
  line-height: 24px;
  font-size: 0.875em;
  color: hsl(97, 3%, 95%);
}

/*    .pt-switch    */

.pt-switch {
  position: relative;
  font-size: 0.875em;
  width: 100px;
}
.pt-switch ~ .pt-switch {
  margin-top: 0.75em;
}
.pt-switch input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.pt-switch input + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
          .pt-switch input + label {
  width: 100%;
  height: 32px;
  padding: 2px;
  border-radius: 3px;
  background-color: hsl(97, 3%, 95%);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
body.dark .pt-switch input + label {
  background-color: hsl(97, 3%, 30%);
}
.pt-switch input + label:after {
  display: block;
  content: ' ';
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  z-index: 10;
  width: 48px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.2), 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}
.pt-switch input + label ~ .left,
.pt-switch input:checked + label ~ .right {
  -webkit-transform: scale(0.75) translateZ(0);
  -moz-transform: scale(0.75) translateZ(0);
  -ms-transform: scale(0.75) translateZ(0);
  -o-transform: scale(0.75) translateZ(0);
  transform: scale(0.75) translateZ(0);
}
.pt-switch input + label ~ .right,
.pt-switch input:checked + label ~ .left {
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  -ms-transform: scale(1) translateZ(0);
  -o-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
}
.pt-switch.sub-switch input + label ~ .left,
.pt-switch.sub-switch input:checked + label ~ .right,
.pt-switch.sub-switch input + label ~ .right,
.pt-switch.sub-switch input:checked + label ~ .left {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.pt-switch > .sub-switch {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  margin-top: 0.5em;
  -webkit-transform: scale(0.75) translateZ(0);
  -moz-transform: scale(0.75) translateZ(0);
  -ms-transform: scale(0.75) translateZ(0);
  -o-transform: scale(0.75) translateZ(0);
  transform: scale(0.75) translateZ(0);
}
.pt-switch input:checked ~ .pt-switch.sub-switch {
  position: static;
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  -ms-transform: scale(1) translateZ(0);
  -o-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
}
body.dark .pt-switch input:checked + label,
.pt-switch input:checked + label {
  background-color: #bea22f;
}
.pt-switch input:checked + label:after {
  margin-left: 50%;
}
.pt-switch input:checked + label ~ .right {
  color: #bea22f;
}
body.dark .pt-switch.sub-switch input + label,
.pt-switch.sub-switch input + label {
  height: 24px;
  box-shadow: none;
  background-color: transparent;
}
.pt-switch.sub-switch input + label:after {
  z-index: 1;
  width: 48px;
  background-color: hsl(97, 3%, 30%);
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
body.dark .pt-switch.sub-switch input:checked + label,
.pt-switch.sub-switch input:checked + label {
  background-color: transparent;
}
.pt-switch.sub-switch input + label ~ .right,
.pt-switch.sub-switch input:checked + label ~ .left {
  color: hsl(97, 3%, 30%);
}
body.dark .pt-switch.sub-switch input + label ~ .right,
body.dark .pt-switch.sub-switch input:checked + label ~ .left {
  color: hsl(97, 3%, 70%);
}
body.dark .pt-switch.sub-switch input:checked + label ~ .right,
.pt-switch.sub-switch input:checked + label ~ .right {
  color: #fff;
}

@media screen and (max-width: 640px) {
  .cart-fieldset {
    padding-bottom: 1.5rem;
  }
  .cart-fieldset .cart-value {
    position: absolute;
    top: 0;
    right: 13rem;
  }
  .cart-fieldset .cart-raiseType {
    position: absolute;
    right: 2rem;
    bottom: 0;
    height: 32px;
    margin: auto;
  }
  .pt-switch ~ .pt-switch {
    margin-top: auto;
  }
  .pt-switch > .sub-switch {
    float: left;
    position: relative;
    top: auto;
    left: -100%;
    bottom: 32px;
    margin-left: -0.5rem;
    margin-top: 4px;
  }
  .pt-switch input:checked ~ .pt-switch.sub-switch {
    position: relative;
  }
  .cart-fieldset .cart-comment {
    position: absolute;
    top: 0;
    right: 2rem;
    margin: auto;
  }

  /*    .cartModule.batch    */
  
  .cartModule.batch .cart-comment,
  .cartModule.batch .cart-raiseType,
  .cartModule.batch .cart-value {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
  }
  .cartModule.batch .cart-raiseType {
    height: auto;
  }
  .cartModule.batch .media .cart-fieldset {
    padding-left: 0;
  }
  .cartModule.batch .media .cart-fieldset h4 {
    position: static;
    margin-bottom: 0.5rem;
  }
  .cartModule.batch .cart-raiseType .pt-switch > .sub-switch {
    position: absolute;
    float: none;
    top: 100%;
    left: auto;
    bottom: auto;
    margin-left: auto;
    margin-top: 0.5rem;
  }
  .cartModule.batch .cart-raiseType .pt-switch input:checked ~ .pt-switch.sub-switch {
    position: static;
  }
}
@media screen and (max-width: 479px) {
  .cart-fieldset {
    padding-bottom: 2.5rem;
  }
  .cart-fieldset .cart-value,
  .cart-fieldset .cart-comment {
    position: relative;
    top: auto;
    right: auto;
    margin-left: 0.75rem;
  }
  .cart-fieldset .cart-raiseType {
    right: auto;
    left: 0;
  }
  .pt-switch > .sub-switch {
    left: 100%;
    margin-left: 0.5rem;
  }
  
  /*    .cartModule.batch    */
  
  .cartModule.batch .media .cart-fieldset {
    width: 100%;
    padding: 0;
  }
  .cartModule.batch .media .cart-fieldset h4 {
    margin-bottom: 0.75rem;
  }
  .cartModule.batch .media .cart-fieldset > div ~ div {
    margin-top: 0.5rem;
  }
  .cartModule.batch .media .cart-fieldset > div button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 4rem;
  }
  .cartModule.batch .cart-comment,
  .cartModule.batch .cart-raiseType,
  .cartModule.batch .cart-value {
    clear: both;
    width: 100%;
    margin-left: 0;
    padding-right: 5rem;
  }
  .cartModule.batch .cart-value {
    padding-left: 1rem;
  }
  .cartModule.batch .cart-fieldset .cart-value:before {
    margin-right: -0.75em;
  }
  
  /*    .cartModule.batch .pt-switch    */

  .cartModule.batch .cart-fieldset .cart-raiseType {
    height: 32px;
  }
  .cartModule.batch .cart-raiseType .pt-switch ~ .pt-switch {
    margin-top: auto;
  }
  .cartModule.batch .cart-raiseType .pt-switch > .sub-switch {
    float: left;
    position: relative;
    top: auto;
    left: 100%;
    bottom: 32px;
    margin-left: 0.5rem;
    margin-top: 4px;
  }
  .cartModule.batch .cart-raiseType .pt-switch input:checked ~ .pt-switch.sub-switch {
    position: relative;
  }
}

/*    .switch transition    */

.pt-switch,
.pt-switch input + label,
.pt-switch input + label:after,
.switch-text {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/*    .cart-total & caption    */

          .raiseCart-caption {
  margin: 0.75rem auto;
  text-align: center;
}
body.dark .raiseCart-caption {
  color: #bea22f;
}
.cart-total h2 {
  text-align: right;
  margin: 1.5rem auto 3rem;
  padding: 0 1.5rem;
  font-weight: normal;
}
.cart-total h2 span {
  font-weight: bold;
  color: #bea22f;
}
@media screen and (max-width: 1023px) {
  .cart-total h2 {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 640px) {
  .cart-total h2 {
    text-align: center;
  }
}