@import "_var";

.sec-lead {
  display: flex;
  align-items: center;
  position: relative;
}
.sec-lead-red {
  text-align: center;
  background-color: $J_red;
  h2,
  p {
    color: #fff;
  }
}

.lead-textbox {
  max-width: 1160px;
  margin: auto;
  padding: 2em 0;
  p + p {
    margin-top: 1.5em;
  }
}
.lead-stripe {
  overflow: hidden;
  position: absolute;
  top: 3vw;
  left: 3vw;
  right: 3vw;
  bottom: 3vw;
  z-index: 1;
  margin: auto;
  @include media-568 {
    top: 0vw;
    left: 0vw;
    right: 0vw;
    bottom: 0vw;
  }
  &:before {
    transition: 1s linear;
    content: "";
    position: absolute;
    top: -100em;
    left: -40em;
    right: -40em;
    bottom: -100em;
    z-index: 1;
    margin: auto;
    background-image: linear-gradient(
      90deg,
      $J_grey 2.38%,
      #fff 2.38%,
      #fff 50%,
      $J_grey 50%,
      $J_grey 52.38%,
      #fff 52.38%,
      #fff 100%
    );
    background-size: 30px;
    transform: rotate(45deg);
  }
}

@keyframes lead-ani {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 30px;
  }
}

.lead-box {
  position: relative;
  z-index: 2;
  max-width: 1160px;
  margin: 2em auto;
  // padding: 3.5vmax 5vmax 4vmax;
  padding: 3.5em 5em 4em;
  text-align: center;
  border: $border-width solid $J_red;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: $bs-x $bs-y $J_red;
  @include media-1024 {
    padding: 4vmax 5vmax 4.5vmax;
    box-shadow: $bs-x-1024 $bs-y-1024 $J_red;
  }
  @include media-768 {
    padding: 3vmax 3vmax 3.5vmax;
    border-width: $border-width-mobile;
  }
  @include media-568 {
    margin: auto;
  }
  p + p {
    margin-top: 1.5em;
  }
  .t_and_c-header {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    @include media-568 {
      font-size: 1em;
    }
  }
  &.t_and_c {
    top: 50%;
    bottom: auto;
    height: auto;
    height: 100%;
    padding: 0;
    max-height: 80vh;
    text-transform: uppercase;
    z-index: 1001;
    text-align: left;
    border-color: #000;
    transform: translateY(-40%);
    @include media-1440 {
      max-width: 86vw;
    }
    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1002;
      width: 5em;
      height: 5em;
      @include media-568 {
        width: 3em;
        height: 3em;
      }
      &:after,
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 3em;
        height: 0.5em;
        background: #000;
        transform-origin: center;
        transform: rotate(45deg);
        @include media-568 {
          width: 2em;
          height: 0.25em;
        }
      }
      &:after {
        transform: rotate(135deg);
      }
    }
    .t_and_c-wrap {
      overflow-y: scroll;
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 3.5vmax 5vmax 4vmax;
    }
    ol {
      li {
        position: relative;
        padding-left: 2em;
        &:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &.num-list {
        counter-reset: num-item;
        li {
          &:before {
            content: counter(num-item) ". ";
            counter-increment: num-item;
          }
        }
      }
      &.roman-list {
        counter-reset: item;
        li {
          padding-left: 2.5em;
          &:before {
            content: "(" counter(item, upper-roman) ")";
            counter-increment: item;
          }
        }
      }
    }
    // li.red-text {
    //   p,
    //   li {
    //     color: $J_red;
    //   }
    // }
    p,
    li {
      font-family: sans-serif;
      line-height: 2rem;
      color: #000;
      @include media-568 {
        font-size: 0.875rem;
        line-height: 1.75rem;
      }
    }
  }
}
.t_and_c,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  margin: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}
.overlay {
  user-select: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
body.overlay-active {
  user-select: none;
  overflow: hidden;
  .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  .t_and_c {
    opacity: 1;
    transform: translateY(-50%);
    pointer-events: auto;
    user-select: auto;
  }
}
