.sec-lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sec-lead-red {
  text-align: center;
  background-color: #e93323;
}

.sec-lead-red h2,
.sec-lead-red p {
  color: #fff;
}

.lead-textbox {
  max-width: 1160px;
  margin: auto;
  padding: 2em 0;
}

.lead-textbox p + p {
  margin-top: 0.75em;
}

.lead-stripe {
  overflow: hidden;
  position: absolute;
  top: 3vw;
  left: 3vw;
  right: 3vw;
  bottom: 3vw;
  z-index: 1;
  margin: auto;
}

@media only screen and (max-width: 568px) {
  .lead-stripe {
    top: 0vw;
    left: 0vw;
    right: 0vw;
    bottom: 0vw;
  }
}

.lead-stripe:before {
  -webkit-transition: 1s linear;
  transition: 1s linear;
  content: "";
  position: absolute;
  top: -100em;
  left: -40em;
  right: -40em;
  bottom: -100em;
  z-index: 1;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(2.38%, #878787), color-stop(2.38%, #fff), color-stop(50%, #fff), color-stop(50%, #878787), color-stop(52.38%, #878787), color-stop(52.38%, #fff), to(#fff));
  background-image: linear-gradient(90deg, #878787 2.38%, #fff 2.38%, #fff 50%, #878787 50%, #878787 52.38%, #fff 52.38%, #fff 100%);
  background-size: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@-webkit-keyframes lead-ani {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 30px;
  }
}

@keyframes lead-ani {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 30px;
  }
}

.lead-box {
  position: relative;
  z-index: 2;
  max-width: 1160px;
  margin: 10vw auto;
  padding: 3.5em 5em 4em;
  text-align: center;
  border: 9px solid #e93323;
  border-radius: 0.5em;
  background-color: #fff;
  -webkit-box-shadow: 2em 2.5em #e93323;
          box-shadow: 2em 2.5em #e93323;
}

@media only screen and (max-width: 1024px) {
  .lead-box {
    padding: 4vmax 5vmax 4.5vmax;
    -webkit-box-shadow: 3vw 4vw #e93323;
            box-shadow: 3vw 4vw #e93323;
  }
}

@media only screen and (max-width: 768px) {
  .lead-box {
    padding: 3vmax 4vmax 3.5vmax;
    border-width: 4px;
  }
}

@media only screen and (max-width: 568px) {
  .lead-box {
    padding: 3vmax 3vmax 3.5vmax;
    margin: auto;
  }
}

.lead-box p + p {
  margin-top: 0.75em;
}

.lead-box .t_and_c-header {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 568px) {
  .lead-box .t_and_c-header {
    font-size: 1em;
  }
}

.lead-box.t_and_c {
  top: 50%;
  bottom: auto;
  height: auto;
  height: 100%;
  padding: 0;
  max-height: 80vh;
  text-transform: uppercase;
  z-index: 10001;
  text-align: left;
  border-color: #000;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

@media only screen and (max-width: 1440px) {
  .lead-box.t_and_c {
    max-width: 86vw;
  }
}

.lead-box.t_and_c .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1002;
  width: 5em;
  height: 5em;
}

@media only screen and (max-width: 568px) {
  .lead-box.t_and_c .close-btn {
    width: 3em;
    height: 3em;
  }
}

.lead-box.t_and_c .close-btn:after, .lead-box.t_and_c .close-btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 3em;
  height: 0.5em;
  background: #000;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media only screen and (max-width: 568px) {
  .lead-box.t_and_c .close-btn:after, .lead-box.t_and_c .close-btn:before {
    width: 2em;
    height: 0.25em;
  }
}

.lead-box.t_and_c .close-btn:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.lead-box.t_and_c .t_and_c-wrap {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 3.5vmax 5vmax 4vmax;
}

.lead-box.t_and_c ol li {
  position: relative;
  padding-left: 2em;
}

.lead-box.t_and_c ol li:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.lead-box.t_and_c ol.num-list {
  counter-reset: num-item;
}

.lead-box.t_and_c ol.num-list li:before {
  content: counter(num-item) ". ";
  counter-increment: num-item;
}

.lead-box.t_and_c ol.roman-list {
  counter-reset: item;
}

.lead-box.t_and_c ol.roman-list li {
  padding-left: 2.5em;
}

.lead-box.t_and_c ol.roman-list li:before {
  content: "(" counter(item, upper-roman) ")";
  counter-increment: item;
}

.lead-box.t_and_c p,
.lead-box.t_and_c li {
  font-family: sans-serif;
  line-height: 2rem;
  color: #000;
}

@media only screen and (max-width: 568px) {
  .lead-box.t_and_c p,
  .lead-box.t_and_c li {
    font-size: 0.875rem;
    line-height: 1.75rem;
  }
}

.t_and_c,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  margin: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlay {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

body.overlay-active {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

body.overlay-active .overlay {
  opacity: 1;
  pointer-events: auto;
}

body.overlay-active .t_and_c {
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: auto;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}
