*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

@media only screen and (max-width: 1024px) {
  body {
    min-width: 1024px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    min-width: 0;
  }
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Roboto Condensed", sans-serif;
  color: #e93323;
}

b {
  font-weight: bold;
}

p,
.p {
  font-family: sans-serif;
}

a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

button {
  overflow: hidden;
  padding: 0;
  font-size: 1em;
  border: none;
  outline: none;
  background: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

button .btn-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: underline;
}

section {
  overflow: hidden;
  display: block;
  padding: 3vmax 0;
}

@media only screen and (max-width: 1440px) {
  section {
    padding: 4vmax 0;
  }
}

@media only screen and (max-width: 1024px) {
  section {
    padding: 6vmax 0;
  }
}

.h2,
h2 {
  font-size: 3.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.h2 + p,
h2 + p {
  margin-top: 2em;
}

@media only screen and (max-width: 1024px) {
  .h2,
  h2 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 768px) {
  .h2,
  h2 {
    font-size: 2.75em;
  }
}

@media only screen and (max-width: 444px) {
  .h2,
  h2 {
    font-size: 2.25em;
  }
}

h3,
.h3 {
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 568px) {
  h3,
  .h3 {
    font-size: 2em;
  }
}

p,
.p {
  font-size: 1rem;
  line-height: 3;
}

@media only screen and (max-width: 1024px) {
  p,
  .p {
    line-height: 2.5;
  }
}

@media only screen and (max-width: 768px) {
  p,
  .p {
    line-height: 2;
  }
}

@media only screen and (max-width: 568px) {
  p,
  .p {
    line-height: 1.75;
  }
}

img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
}

.j-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
}

.max-wrapper {
  width: 100%;
  margin: auto;
  padding: 0 8vw;
}

.max-wrapper.large {
  max-width: 1800px;
  padding: 0 4vw;
}

@media only screen and (max-width: 568px) {
  .max-wrapper, .max-wrapper.large {
    padding: 0 6vw;
  }
}

.icon-wrap {
  overflow: hidden;
  text-align: center;
}

.icon-wrap a {
  display: block;
  float: left;
  width: 50px;
  color: #e93323;
}

.icon-wrap i {
  width: 50px;
  font-size: 1.5em;
  line-height: 50px;
}

.sec-header {
  overflow: hidden;
  padding: 1em 2em;
}

@media only screen and (max-width: 767px) {
  .sec-header {
    padding: 0.75em 1em;
  }
}

@media only screen and (max-width: 568px) {
  .sec-header .icon-wrap {
    display: none;
  }
}

.sec-header .logo {
  float: left;
  width: auto;
  height: 50px;
}

.sec-header .logo + .logo {
  margin-left: 2em;
}

.sec-header .icon-wrap {
  float: right;
}

.sec-footer {
  background-color: #000;
}

.sec-footer .icon-wrap {
  margin: 0 -0.875em;
}

.sec-footer .icon-wrap i {
  color: #fff;
}

.sec-footer p {
  font-size: 0.875em;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .sec-footer {
    text-align: center;
  }
  .sec-footer .icon-wrap {
    width: 150px;
    margin: auto;
    margin-bottom: 1em;
  }
}
