@import "_var";

.sec-message {
  position: relative;
  padding-bottom: 6vmax;
  background-image: linear-gradient($J_grey_light 1px, transparent 1px),
    linear-gradient(90deg, $J_grey_light 1px, transparent 1px);
  // background-image: linear-gradient(hsl(0, 0%, 90%) 1px, transparent 1px),
  //   linear-gradient(90deg, hsl(0, 0%, 90%) 1px, transparent 1px);
  background-size: 2em 2em;
  // @include media-1440 {
  //   padding-bottom: 4vmax;
  // }
  @include media-1024 {
    padding-bottom: 6vmax;
  }
  &:before {
    @include pos-ab;
    z-index: -1;
    background-size: 800px 680px;
    background-image: url("../img/bg_otera.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    @include media-1440 {
      opacity: 0.5;
    }
    @include media-1024 {
      background-size: contain;
      background-image: url("../img/bg_otera_s.jpg");
    }
  }
  &.detail:before {
    background-size: 1100px auto;
    @include media-1024 {
      background-size: contain;
    }
  }
}

.message-wrap {
  align-items: flex-start;
  @include media-1024 {
    flex-direction: column;
  }
}

.message-text {
  max-width: 30%;
  margin-top: 2em;
  margin-bottom: -2em;
  padding-right: 3vw;
  @include media-1024 {
    max-width: 600px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    text-align: center;
    h2 {
      br {
        display: none;
      }
    }
  }
}
.event-detail-wrap {
  align-items: flex-start;
  // padding-top: 3vw;
  padding-top: 2em;
  padding-bottom: 6vw;
  // @include media-1024 {
  // }
  @include media-1023 {
    flex-direction: column;
  }
  @include media-768 {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.event-detail {
  width: 50%;
  max-width: 500px;
  padding-right: 4vw;
  @include media-1023 {
    width: 100%;
    max-width: none;
    padding-right: 0;
  }
  .step-num {
    font-family: "Roboto Condensed", sans-serif;
  }
  h3 {
    margin-bottom: 4rem;
  }
  p {
    font-size: 1.5em;
    line-height: 1.5;
    & + p {
      margin-top: 3vmax;
    }
    a {
      font-family: sans-serif;
      color: $J_red;
      font-weight: normal;
      text-transform: lowercase;
      text-decoration: underline;
    }
  }
  span {
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1;
  }
  .price {
    margin-bottom: 1em;
    font-size: 1.25rem;
    font-weight: bold;
  }
  small {
    display: block;
    margin-top: 0.25em;
    font-size: 1rem;
  }
  @include media-1023 {
    & ~ .event-detail h3 {
      margin-top: 8vmax;
    }
  }
  @include media-768 {
    h3 {
      margin-bottom: 4vmax;
    }
    & ~ .event-detail h3 {
      margin-top: 6vmax;
    }
    .price {
      //   font-size: 1rem;
      margin-bottom: 0.5em;
    }
    p {
      // font-size: 1em;
      font-size: 1.25rem;
      line-height: 1.75;
      & + p {
        margin-top: 4vmax;
      }
    }
    small {
      font-size: 0.875rem;
    }
  }
}

.message-board {
  position: relative;
  @include media-1023 {
    margin-top: -8em;
  }
  @include media-767 {
    width: 100%;
  }
}
.rope-front,
.rope-back {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: -3vw;
  left: 0;
  right: 0;
  width: 280px;
  margin: auto;
}
.rope-front {
  z-index: 100;
  &.mobile {
    display: none;
  }
  @include media-1024 {
    display: none;
    &.mobile {
      display: block;
    }
  }
}
.rope-back {
  z-index: 1;
}

.board-wood {
  position: relative;
  margin-top: 15.5em;
  // @include media-767 {
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 5.125em;
  //     left: $border-width;
  //     right: $border-width;
  //     z-index: 100;
  //     height: 2em;
  //     // border: 1px solid lime;
  //     background-color: lime;
  //     background: rgb(255, 255, 255);
  //     background: linear-gradient(
  //       0deg,
  //       rgba(255, 255, 255, 0) 0%,
  //       rgba(255, 255, 255, 1) 100%
  //     );
  //   }
  // }
  // @include media-568 {
  //   &::before {
  //     left: $border-width-mobile;
  //     right: $border-width-mobile;
  //   }
  // }
}
.board-top {
  pointer-events: none;
  user-select: none;
  position: relative;
  .inner-rect {
    position: relative;
    z-index: 2;
    width: 50%;
    background-color: white;
    height: 12vw;
    border: $border-width solid #000;
    &.left {
      transform: skewY(-10deg);
      border-radius: 20px 0 0 0;
      border-right: none;
    }
    &.right {
      transform: skewY(10deg);
      border-radius: 0 20px 0 0;
      border-left: none;
    }
    @include media-min-1441 {
      height: 12rem;
    }
    @include media-1024 {
      margin-top: 1.5em;
      height: 20vw;
    }
    @include media-768 {
      border-width: $border-width-mobile;
    }
    @include media-568 {
      height: 30vw;
    }
  }
}

.message-con {
  position: relative;
  z-index: 10;
  margin-top: -6vw;
  padding: 3vw;
  text-align: center;
  border: $border-width solid #000;
  border-top: none;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  @include media-min-1441 {
    margin-top: -7rem;
  }
  @include media-1024 {
    margin-top: -12vw;
    margin-bottom: 6vmax;
  }
  @include media-768 {
    border-width: $border-width-mobile;
  }
  @include media-767 {
    overflow-y: scroll;
    max-height: 500px;
    text-align: left;
    // padding-top: 1em;
    padding-top: 0;
    .profile {
      text-align: center;
    }
  }
  @include media-568 {
    margin-top: -15vw;
    // border-width: $border-width-mobile;
  }
  li {
    position: relative;
    display: inline-block;
    margin: 0 0.5em 1.5em;
    padding: 0 0.5em;
    font-family: sans-serif;
    font-size: 1em;
    padding-left: 3em;
    &:nth-child(2n) {
      .profile {
        background-color: $J-grey-light;
      }
    }
    &:nth-child(3n) {
      .profile {
        background-color: $J-blue;
      }
    }
    @include media-767 {
      display: block;
      margin: 0 0.5em 1em;
    }
  }
  .profile {
    display: block;
    @include pos-ab;
    right: auto;
    margin-left: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5em;
    line-height: 2.5rem;
    background-color: $J-red;
    border-radius: 50%;
    color: #fff;
  }
  .text {
    display: block;
    padding: 0.5em 0.5em 0.5em 0;
    line-height: 1.5;
  }
}

.btn-join-wrap {
  position: relative;
  z-index: 999;
  margin-top: 4em;
  margin-left: -1em;
  @include media-1024 {
    margin-left: auto;
  }
  @include media-767 {
    margin-top: 3em;
  }
  .event-detail-wrap & {
    margin-top: auto;
    margin-left: auto;
    @include media-1024 {
      margin-left: auto;
      margin-right: auto;
    }
    // @include media-1023 {
    //   margin-left: -1em;
    // }
  }
}
.btn-t_and_c {
  width: 180px;
  margin-top: 1em;
  color: $J_red;
  .event-detail-wrap & {
    width: 20vmax;
    @include media-1023 {
      width: 180px;
    }
  }
}
.btn-join {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 180px;
  height: 180px;
  border: 4px solid #fff;
  border-radius: 50%;
  @include media-1024 {
    margin: auto;
  }
  &:before {
    transition: 1s linear;
    content: "";
    position: absolute;
    top: -10em;
    left: -10em;
    right: -10em;
    bottom: -10em;
    z-index: 1;
    margin: auto;
    background-image: linear-gradient(
      90deg,
      #fff 5%,
      $J_red 5%,
      $J_red 50%,
      #fff 50%,
      #fff 55%,
      $J_red 55%,
      $J_red 100%
    );
    background-size: 10px;
    transform: rotate(25deg);
  }
  .btn-text {
    display: block;
    position: relative;
    z-index: 10;
    width: 100px;
    margin: auto;
    font-size: 2.75em;
    line-height: 0.9;
    color: #fff;
  }
  .event-detail-wrap & {
    width: 20vmax;
    height: 20vmax;
    &::before {
      background-image: linear-gradient(
        90deg,
        #fff 3%,
        $J_red 3%,
        $J_red 50%,
        #fff 50%,
        #fff 53%,
        $J_red 53%,
        $J_red 100%
      );
      background-size: 20px;
      transform: rotate(-60deg);
    }
    .btn-text {
      width: 12vmax;
      font-size: 5.5vmax;
    }
    @include media-1023 {
      margin-top: 6vmax;
      margin-left: 0;
      width: 180px;
      height: 180px;
      &::before {
        background-size: 10px;
      }
      .btn-text {
        width: 100px;
        font-size: 2.75em;
        line-height: 0.9;
      }
    }
  }
}

.message-con,
.board-top .inner-rect.right {
  box-shadow: $bs-x $bs-y #000;
  @include media-1024 {
    box-shadow: $bs-x-1024 $bs-y-1024 #000;
  }
}
