.sec-message {
  position: relative;
  padding-bottom: 6vmax;
  background-image: linear-gradient(#d1d1d1 1px, transparent 1px), linear-gradient(90deg, #d1d1d1 1px, transparent 1px);
  background-size: 2em 2em;
}

@media only screen and (max-width: 1024px) {
  .sec-message {
    padding-bottom: 6vmax;
  }
}

.sec-message:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  background-size: 800px 680px;
  background-image: url("../img/bg_otera.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

@media only screen and (max-width: 1024px) {
  .sec-message:before {
    background-size: contain;
    background-image: url("../img/bg_otera_s.jpg");
    opacity: 0.5;
  }
}

.sec-message.detail:before {
  background-size: 1100px auto;
}

@media only screen and (max-width: 1024px) {
  .sec-message.detail:before {
    background-size: contain;
  }
}

.message-wrap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 1024px) {
  .message-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.message-text {
  max-width: 30%;
  margin-top: 2em;
  margin-bottom: -2em;
  padding-right: 3vw;
}

@media only screen and (max-width: 1024px) {
  .message-text {
    max-width: 600px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    text-align: center;
  }
  .message-text h2 br {
    display: none;
  }
}

.event-detail-wrap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 6vw;
}

@media only screen and (max-width: 1023px) {
  .event-detail-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.event-detail {
  width: 50%;
  max-width: 500px;
  padding-right: 4vw;
}

@media only screen and (max-width: 1023px) {
  .event-detail {
    width: 100%;
    max-width: none;
    padding-right: 0;
  }
}

.event-detail .step-num {
  font-family: "Roboto Condensed", sans-serif;
}

.event-detail h3 {
  margin-bottom: 4rem;
}

.event-detail p {
  font-size: 1.5em;
  line-height: 1.5;
}

.event-detail p + p {
  margin-top: 3vmax;
}

.event-detail p a {
  font-family: sans-serif;
  color: #e93323;
  font-weight: normal;
  text-transform: lowercase;
  text-decoration: underline;
}

.event-detail span {
  display: block;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.event-detail .price {
  margin-bottom: 1em;
  font-size: 1.25rem;
  font-weight: bold;
}

.event-detail small {
  display: block;
  margin-top: 0.25em;
  font-size: 1rem;
}

@media only screen and (max-width: 1023px) {
  .event-detail ~ .event-detail h3 {
    margin-top: 8vmax;
  }
}

@media only screen and (max-width: 768px) {
  .event-detail h3 {
    margin-bottom: 4vmax;
  }
  .event-detail ~ .event-detail h3 {
    margin-top: 6vmax;
  }
  .event-detail .price {
    margin-bottom: 0.5em;
  }
  .event-detail p {
    font-size: 1.25rem;
    line-height: 1.75;
  }
  .event-detail p + p {
    margin-top: 4vmax;
  }
  .event-detail small {
    font-size: 0.875rem;
  }
}

.message-board {
  position: relative;
}

@media only screen and (max-width: 1023px) {
  .message-board {
    margin-top: -8em;
  }
}

@media only screen and (max-width: 767px) {
  .message-board {
    width: 100%;
  }
}

.rope-front,
.rope-back {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: -3vw;
  left: 0;
  right: 0;
  width: 280px;
  margin: auto;
}

.rope-front {
  z-index: 100;
}

.rope-front.mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .rope-front {
    display: none;
  }
  .rope-front.mobile {
    display: block;
  }
}

.rope-back {
  z-index: 1;
}

.board-wood {
  position: relative;
  margin-top: 15.5em;
}

.board-top {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.board-top .inner-rect {
  position: relative;
  z-index: 2;
  width: 50%;
  background-color: white;
  height: 12vw;
  border: 9px solid #000;
}

.board-top .inner-rect.left {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  border-radius: 20px 0 0 0;
  border-right: none;
}

.board-top .inner-rect.right {
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
  border-radius: 0 20px 0 0;
  border-left: none;
}

@media only screen and (min-width: 1441px) {
  .board-top .inner-rect {
    height: 12rem;
  }
}

@media only screen and (max-width: 1024px) {
  .board-top .inner-rect {
    margin-top: 1.5em;
    height: 20vw;
  }
}

@media only screen and (max-width: 768px) {
  .board-top .inner-rect {
    border-width: 4px;
  }
}

@media only screen and (max-width: 568px) {
  .board-top .inner-rect {
    height: 30vw;
  }
}

.message-con {
  position: relative;
  z-index: 10;
  margin-top: -6vw;
  padding: 3vw;
  text-align: center;
  border: 9px solid #000;
  border-top: none;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
}

@media only screen and (min-width: 1441px) {
  .message-con {
    margin-top: -7rem;
  }
}

@media only screen and (max-width: 1024px) {
  .message-con {
    margin-top: -12vw;
    margin-bottom: 6vmax;
  }
}

@media only screen and (max-width: 768px) {
  .message-con {
    border-width: 4px;
  }
}

@media only screen and (max-width: 767px) {
  .message-con {
    overflow-y: scroll;
    max-height: 500px;
    text-align: left;
    padding-top: 0;
  }
  .message-con .profile {
    text-align: center;
  }
}

@media only screen and (max-width: 568px) {
  .message-con {
    margin-top: -15vw;
  }
}

.message-con li {
  position: relative;
  display: inline-block;
  margin: 0 0.5em 1.5em;
  padding: 0 0.5em;
  font-family: sans-serif;
  font-size: 1em;
  padding-left: 3em;
}

.message-con li:nth-child(2n) .profile {
  background-color: #d1d1d1;
}

.message-con li:nth-child(3n) .profile {
  background-color: #335690;
}

@media only screen and (max-width: 767px) {
  .message-con li {
    display: block;
    margin: 0 0.5em 1em;
  }
}

.message-con .profile {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  right: auto;
  margin-left: 0;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5em;
  line-height: 2.5rem;
  background-color: #e93323;
  border-radius: 50%;
  color: #fff;
}

.message-con .text {
  display: block;
  padding: 0.5em 0.5em 0.5em 0;
  line-height: 1.5;
}

.btn-join-wrap {
  position: relative;
  z-index: 999;
  margin-top: 4em;
  margin-left: -1em;
}

@media only screen and (max-width: 1024px) {
  .btn-join-wrap {
    margin-left: auto;
  }
}

@media only screen and (max-width: 767px) {
  .btn-join-wrap {
    margin-top: 3em;
  }
}

.event-detail-wrap .btn-join-wrap {
  margin-top: auto;
  margin-left: auto;
}

@media only screen and (max-width: 1024px) {
  .event-detail-wrap .btn-join-wrap {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-t_and_c {
  width: 180px;
  margin-top: 1em;
  color: #e93323;
}

.event-detail-wrap .btn-t_and_c {
  width: 20vmax;
}

@media only screen and (max-width: 1023px) {
  .event-detail-wrap .btn-t_and_c {
    width: 180px;
  }
}

.btn-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  width: 180px;
  height: 180px;
  border: 4px solid #fff;
  border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
  .btn-join {
    margin: auto;
  }
}

.btn-join:before {
  -webkit-transition: 1s linear;
  transition: 1s linear;
  content: "";
  position: absolute;
  top: -10em;
  left: -10em;
  right: -10em;
  bottom: -10em;
  z-index: 1;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #fff), color-stop(5%, #e93323), color-stop(50%, #e93323), color-stop(50%, #fff), color-stop(55%, #fff), color-stop(55%, #e93323), to(#e93323));
  background-image: linear-gradient(90deg, #fff 5%, #e93323 5%, #e93323 50%, #fff 50%, #fff 55%, #e93323 55%, #e93323 100%);
  background-size: 10px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.btn-join .btn-text {
  display: block;
  position: relative;
  z-index: 10;
  width: 100px;
  margin: auto;
  font-size: 2.75em;
  line-height: 0.9;
  color: #fff;
}

.event-detail-wrap .btn-join {
  width: 20vmax;
  height: 20vmax;
}

.event-detail-wrap .btn-join::before {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(3%, #fff), color-stop(3%, #e93323), color-stop(50%, #e93323), color-stop(50%, #fff), color-stop(53%, #fff), color-stop(53%, #e93323), to(#e93323));
  background-image: linear-gradient(90deg, #fff 3%, #e93323 3%, #e93323 50%, #fff 50%, #fff 53%, #e93323 53%, #e93323 100%);
  background-size: 20px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.event-detail-wrap .btn-join .btn-text {
  width: 12vmax;
  font-size: 5.5vmax;
}

@media only screen and (max-width: 1023px) {
  .event-detail-wrap .btn-join {
    margin-top: 6vmax;
    margin-left: 0;
    width: 180px;
    height: 180px;
  }
  .event-detail-wrap .btn-join::before {
    background-size: 10px;
  }
  .event-detail-wrap .btn-join .btn-text {
    width: 100px;
    font-size: 2.75em;
    line-height: 0.9;
  }
}

.message-con,
.board-top .inner-rect.right {
  -webkit-box-shadow: 2em 2.5em #000;
          box-shadow: 2em 2.5em #000;
}

@media only screen and (max-width: 1024px) {
  .message-con,
  .board-top .inner-rect.right {
    -webkit-box-shadow: 3vw 4vw #000;
            box-shadow: 3vw 4vw #000;
  }
}
