@import "_var";

.r16-9 {
  position: relative;
  display: block;
  height: 0;
  padding-top: 56.25%;
}
.dot-bg {
  &:before {
    content: "";
    position: absolute;
    top: $bs-y;
    left: (-$bs-x);
    right: $bs-x;
    bottom: (-$bs-y);
    z-index: 0;
    margin: auto;
    background-image: radial-gradient($J_red 20%, transparent 20%),
      radial-gradient($J_red 20%, transparent 20%);
    background-color: #fff;
    background-position: 0 0, 8px 8px;
    background-position: 4px 4px, 12px 12px;
    background-size: 16px 16px;
    @include media-1024 {
      top: $bs-y-1024;
      left: (-$bs-x-1024);
      right: $bs-x-1024;
      bottom: (-$bs-y-1024);
    }
  }
}

.sec-story {
  text-align: center;
  &.detail {
    padding-top: 0;
    margin-bottom: 3vmax;
  }
  h3 {
    margin-top: 3vmax;
  }
}
.video-con {
  position: relative;
  margin-bottom: 3vw;
  iframe {
    @include pos-ab;
    width: 100%;
    height: 100%;
  }
}
.story-wrap {
  position: relative;
  margin: 3vmax auto;
  width: 100%;
  max-width: 1200px;
  @include media-568 {
    margin: 5vmax auto 7rem;
  }
  &.article-slider {
    max-width: none;
  }
}

.slick-prev,
.slick-next {
  top: 0;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  margin: auto;
  border: 0px solid $J_red;
  transform: rotate(-45deg);
  @include media-568 {
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    width: 2rem;
    height: 2rem;
    margin-top: 4rem;
  }
}
.slick-prev {
  left: -7vw;
  border-top-width: $border-width;
  border-left-width: $border-width;
  .article-slider & {
    left: -3vw;
  }
  @include media-568 {
    &,
    .article-slider & {
      left: -20vw;
      border-top-width: $border-width-mobile;
      border-left-width: $border-width-mobile;
    }
  }
}
.slick-next {
  right: -7vw;
  border-right-width: $border-width;
  border-bottom-width: $border-width;
  .article-slider & {
    right: -3vw;
  }
  @include media-568 {
    &,
    .article-slider & {
      right: -20vw;
      border-right-width: $border-width-mobile;
      border-bottom-width: $border-width-mobile;
    }
  }
}

.story {
  width: 100%;
  a {
    display: block;
    color: $J_red;
  }
  .imgbox {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .textbox {
    margin-top: 1em;
    line-height: 1.5;
  }
  .video-title {
    @include pos-ab;
    width: 100%;
    height: 1em;
    text-align: center;
    color: #fff;
  }
}
.article-slider {
  .story {
    padding: 0 1.5vw;
  }
}
