.r16-9 {
  position: relative;
  display: block;
  height: 0;
  padding-top: 56.25%;
}

.dot-bg:before {
  content: "";
  position: absolute;
  top: 2.5em;
  left: -2em;
  right: 2em;
  bottom: -2.5em;
  z-index: 0;
  margin: auto;
  background-image: radial-gradient(#e93323 20%, transparent 20%), radial-gradient(#e93323 20%, transparent 20%);
  background-color: #fff;
  background-position: 0 0, 8px 8px;
  background-position: 4px 4px, 12px 12px;
  background-size: 16px 16px;
}

@media only screen and (max-width: 1024px) {
  .dot-bg:before {
    top: 4vw;
    left: -3vw;
    right: 3vw;
    bottom: -4vw;
  }
}

.sec-story {
  text-align: center;
}

.sec-story.detail {
  padding-top: 0;
  margin-bottom: 3vmax;
}

.sec-story h3 {
  margin-top: 3vmax;
}

.video-con {
  position: relative;
  margin-bottom: 3vw;
}

.video-con iframe {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.story-wrap {
  position: relative;
  margin: 3vmax auto;
  width: 100%;
  max-width: 1200px;
}

@media only screen and (max-width: 568px) {
  .story-wrap {
    margin: 5vmax auto 7rem;
  }
}

.story-wrap.article-slider {
  max-width: none;
}

.slick-prev,
.slick-next {
  top: 0;
  bottom: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  border: 0px solid #e93323;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slick-prev::before, .slick-prev::after,
.slick-next::before,
.slick-next::after {
  color: transparent;
}

@media only screen and (max-width: 1023px) {
  .slick-prev,
  .slick-next {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 568px) {
  .slick-prev,
  .slick-next {
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    margin-top: 4rem;
  }
}

.slick-prev {
  left: -5vw;
  border-top-width: 9px;
  border-left-width: 9px;
}

.article-slider .slick-prev {
  left: -3vw;
}

@media only screen and (max-width: 1024px) {
  .article-slider .slick-prev {
    left: -4vw;
  }
}

@media only screen and (max-width: 568px) {
  .slick-prev,
  .article-slider .slick-prev {
    left: -20vw;
    border-top-width: 4px;
    border-left-width: 4px;
  }
}

.slick-next {
  right: -5vw;
  border-right-width: 9px;
  border-bottom-width: 9px;
}

.article-slider .slick-next {
  right: -3vw;
}

@media only screen and (max-width: 1024px) {
  .article-slider .slick-next {
    right: -4vw;
  }
}

@media only screen and (max-width: 568px) {
  .slick-next,
  .article-slider .slick-next {
    right: -20vw;
    border-right-width: 4px;
    border-bottom-width: 4px;
  }
}

.story {
  width: 100%;
}

.story a {
  display: block;
  color: #e93323;
}

.story .imgbox {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.story .textbox {
  margin-top: 1em;
  line-height: 1.5;
}

.story .video-title {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 1em;
  text-align: center;
  color: #fff;
}

.non-touch .story .video-title {
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.non-touch .story .imgbox:hover .video-title {
  opacity: 1;
}

.article-slider .story {
  padding: 0 1.5vw;
}
